.catalog-filter-group {
  &_state_close {
    & .catalog-filter-group__title {
      &::before {
        top: 18px;
        transform: rotate(45deg);
      }
    }
  }
  &_state_open {
    & .catalog-filter-group__title {
      &::before {
        top: 21px;
        transform: rotate(-135deg);
      }
    }
  }
}
