.cart-order__delivery-method {
  margin: 22px 0 32px 0;
  border-radius: 20px;
  &-inner {
    background: var(--color-neutral);
    border-radius: 20px;
    position: relative;
    display: inline-block;
  }
  &-state {
    @mixin font 500, 14px, 24px, 14px, 24px, var(--font-title-secondary);
    color: var(--color-surface-text);
    background: var(--color-surface);
    padding: 15px 48px 13px 48px;
    border: solid 1px var(--color-surface-border);
    border-radius: 20px;
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    z-index: 1;
    transition: all 0.4s linear;
  }
  &-item {
    @mixin font 500, 14px, 24px, 14px, 24px, var(--font-title-secondary);
    background: var(--color-neutral);
    color: var(--color-neutral-text);
    padding: 15px 48px 13px 48px;
    float: left;
    position: relative;
    cursor: pointer;
    &:last-child {
      padding: 15px 28px 13px 18px;
    }
    &:hover {
      color: var(--color-neutral-text-hover);
      box-shadow: 0 5px 40px -20px var(--color-neutral-shadow);
    }
  }
}
