.cart-order__group {
  width: 100%;
  margin: 0 0 24px 0;
  &-title {
    color: var(--color-surface-text);
    margin: 0 0 14px 0;
    @mixin font 500, 14px, 32px, 18px, 36px, var(--font-title-secondary);
  }
  &-input {
    margin: 0 0 24px 0;
    display: flex;
    flex-flow: row wrap;
    &-input {
      max-width: 400px;
      padding: 8px 16px;
      border: solid 1px var(--color-surface-border);
      @mixin font normal, 14px, 16px, 18px, 24px, var(--font);
      @media (--mobile) {
        width: 100%;
      }
    }
    &-textarea {
      height: 80px;
      max-width: 400px;
      padding: 8px 16px;
      border: solid 1px var(--color-surface-border);
      @mixin font normal, 14px, 16px, 18px, 24px, var(--font);
    }
  }
}
