.cart-order__delivery-method {
  margin: 22px 0 32px 0;
  border-radius: 20px;
  &-inner {
    background: var(--color-neutral);
    border-radius: 20px;
    position: relative;
    display: inline-block;
    @media (--mobile) {
      width: 100%;
      display: flex;
    }
  }
  &-state {
    color: var(--color-surface-text);
    background: var(--color-surface);
    padding: 15px 48px 13px 48px;
    border: solid 1px var(--color-surface-border);
    border-radius: 20px;
    position: absolute;
    display: block;
    box-sizing: border-box;
    left: 0;
    top: 0;
    z-index: 1;
    transition: all 0.4s linear;
    @mixin font 500, 14px, 24px, 14px, 24px, var(--font-title-secondary);
    @media (--mobile) {
      width: 50%;
      text-align: center;
      padding: 15px 24px 13px 24px;
    }
  }
  &-item {
    color: var(--color-neutral-text);
    background: var(--color-neutral);
    padding: 15px 48px 13px 48px;
    float: left;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    @mixin font 500, 14px, 24px, 14px, 24px, var(--font-title-secondary);
    @media (--mobile) {
      width: 50%;
      text-align: center;
      padding: 15px 24px 13px 24px;
    }
    @media (--mobile) {
      float: none;
    }
    &:hover {
      color: var(--color-neutral-text-hover);
      box-shadow: 0 5px 40px -20px var(--color-neutral-shadow);
    }
  }
}
