.cart-order {
  margin: 0 0 60px 0;
  &__title {
    color: var(--color-surface-text);
    @mixin font 500, 18px, 32px, 18px, 32px, var(--font-title-secondary);
  }
  &-button {
    &.button {
      padding: 16px 42px;
      margin: 24px 0 0 0;
      @mixin font 500, 14px, 32px, 14px, 32px, var(--font-title-secondary);
      @media (--mobile) {
        width: 100%;
      }
    }
    &&_state_disabled {
      color: #777;
      background: #ccc;
      border: solid 1px #ccc;
      &:hover {
        color: #777;
        background: #ccc;
        border: solid 1px #ccc;
      }
    }
  }
}
