{% extends "base.html" %}
{% load catalog_tags static fb_versions itcase_common itcase_logos itcase_feed %}

{% block content %}

    {% with feed_title='Скидки и акции' hide_feed_button=True %}
        {% feed_list_main_page limit=3 %}
    {% endwith %}

    <div class="catalog-group">
        <div class="catalog-group__title">Все для кровли и фасада — быстро и по выгодным ценам</div>
        <ul class="catalog-group__inner-list">
            {% for category in categories %}
                <li class="catalog-group__inner-list-item">
                    <a href="{{ category.get_absolute_url }}" class="catalog-group__inner-list-link">
                        <img src="media/{{ category.image }}" class="catalog-group__inner-list-link-image" alt="{{ category.name }}" title="{{ category.name }}">
                        <span class="catalog-group__inner-list-link-text">{{ category.name }}</span>
                    </a>
                    <ul class="catalog-group__inner-nested-list">
                        {% for subcategory in category.children.all %}
                            <li class="catalog-group__inner-nested-list-item">
                                <a href="{{ subcategory.get_absolute_url }}" class="catalog-group__inner-nested-list-link">{{ subcategory.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </div>


    {% logos_list_main_page %}

    {% include 'itcase_catalog/include/catalog_main_page_groups.html' %}

{% endblock content %}
