{% extends "base.html" %}
{% load catalog_tags static fb_versions itcase_common itcase_logos itcase_feed %}

{% block content %}

    {% with feed_title='Скидки и акции' hide_feed_button=True %}
        {% feed_list_main_page limit=3 %}
    {% endwith %}

    {% with title='Все для кровли и фасада — быстро и по выгодным ценам' categories_list=categories_on_main_page limit=5 %}
        {% include "itcase_catalog/include/get_categories_by.html" %}
    {% endwith %}

    {% include 'itcase_catalog/include/catalog_main_page_groups.html' %}

    {% with hide_text=True title='Торговые марки и партнеры' %}
        {% logos_list_main_page %}
    {% endwith %}

    <div class="content content_type_main-page">
        {% render_content request.page.content %}
    </div>

{% endblock content %}
