.content-block {
  &&_type_fifth-pattern {
    background: var(--color-fifth) url('./../img/green_bg.png');
    position: relative;
    overflow: hidden;
    & .content-block__wrapper {
      padding: 48px 320px 56px 56px;
    }
  }
}
