.content-block-column {
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
  @media (--mobile) {
    display: block;
  }
  @media (--tablet) {
    display: block;
  }
  &__item {
    width: 31%;
    text-align: center;
    background: var(--color-surface);
    padding: 40px 32px 0 32px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    @media (--mobile) {
      width: 100%;
      padding: 32px 24px;
      margin: 0 0 24px 0;
    }
    @media (--tablet) {
      width: 100%;
      padding: 32px 24px 12px 24px;
      margin: 0 0 24px 0;
    }
    & h1 {
      width: 100%;
      color: var(--color-surface-text) !important;
      padding: 0 0 32px 0;
      margin: 0;
      @mixin font bold, 18px, 18px, 24px, 24px, var(--font);
      & + p {
        flex: 1;
      }
    }
    & h5 {
      flex-grow: 1;
    }
    &-button {
      margin: 48px 0 24px 0 !important;
    }
  }
}
