.content-block {
  &&_type_calc {
    min-height: 516px;
    display: flex;
    align-items: center;
    &::before {
      width: 35%;
      height: 100%;
      background: var(--color-fifth) url('./../img/green_bg.png');
      position: absolute;
      content: '';
      display: block;
      top: 0;
      right: 0;
    }
    &::after {
      padding: 0 0 35% 0;
      content: '';
      display: block;
    }
    & .content {
      &-block {
        &__left {
          @media (--tablet) {
            width: 55%;
          }
        }
        &__right {
          text-align: right;
          @media (--mobile) {
            display: none;
          }
          @media (--tablet) {
            width: 45%;
          }
          &::after {
            width: 356px;
            height: 356px;
            background: var(--color-thirdly);
            border-radius: 50%;
            position: absolute;
            content: '';
            display: block;
            top: 0;
            right: 0;
            z-index: -1;
            @media (--tablet) {
              width: 212px;
              height: 212px;
            }
          }
          & img {
            width: 356px;
            @media (--tablet) {
              width: 212px;
            }
          }
        }
      }
    }
  }
}
