.content-block {
  &&_type_neutral-pattern {
    background: var(--color-neutral) url('./../img/gray_bg.png');
    & .content-block__wrapper {
      padding: 56px 320px 56px 96px;
      @media (--mobile) {
        padding: 32px 20px;
      }
      @media (--tablet) {
        padding: 32px 32px;
      }
      & p {
        padding: 0 0 32px 0;
        margin: 0;
        @mixin font 500, 16px, 32px, 24px, 42px, var(--font);
      }
      & ul {
        & li {
          @mixin font 500, 16px, 32px, 24px, 42px, var(--font);
        }
      }
    }
  }
}
