.content-block {
  &&_type_main {
    padding: 128px 0 80px 0;
    margin: -128px 0 0 0;
    position: relative;
    &::before {
      width: 50%;
      height: 85%;
      background: var(--color-fifth) url('./../img/green_bg.png');
      position: absolute;
      content: '';
      display: block;
      top: -72px;
      right: 0;
    }
    &::after {
      width: 50%;
      height: 20%;
      background: var(--color-primary);
      position: absolute;
      content: '';
      display: block;
      right: 0;
      bottom: 15%;
    }
    & .content {
      &-block {
        &__wrapper {
          padding: 0 72px 0 180px;
          @media (--mobile) {
            padding: 0;
          }
          @media (--tablet) {
            padding: 0 72px 0 72px;
          }
          &-inner {
            width: 100%;
            background: var(--color-surface) url('./../img/main_page/hand_blue.png') no-repeat 96% -220px;
            padding: 72px 184px 96px 136px;
            display: flex;
            flex-flow: row wrap;
            box-sizing: border-box;
            box-shadow: 0 10px 70px var(--color-surface-shadow);
            @media (--mobile) {
              background-position: 95% -80px;
              background-size: 240px auto;
              padding: 48px 0 0 20px;
            }
            @media (--mobile-small) {
              padding: 48px 0 0 0;
            }
          }
        }
        &__left {
          box-sizing: border-box;
          @media (--mobile) {
            padding: 24px 24px 48px 48px;
          }
        }
        &__right {
          box-sizing: border-box;
          @media (--mobile) {
            padding: 0 24px 24px 48px;
          }
        }
        &__image-1 {
          position: absolute;
          left: 40px;
          top: 356px;
          @media (--mobile) {
            width: 96px;
            margin: -48px 0 0 0;
            left: -40px;
            top: 356px;
          }
          @media (--tablet) {
            width: 172px;
            margin: -48px 0 0 0;
            left: -40px;
            top: 356px;
          }
        }
        &__image-2 {
          position: absolute;
          right: 124px;
          bottom: 0;
          @media (--mobile) {
            width: 144px;
            right: 24px;
            bottom: 80px;
          }
          @media (--tablet) {
            width: 244px;
            right: 24px;
            bottom: 72px;
          }
        }
      }
    }
  }
}
