.content-block {
  &&_type_pattern-primary {
    background: var(--color-primary) url('./../img/blue_bg.png');
    & h1 {
      color: var(--color-primary-text);
    }
    & h2 {
      color: var(--color-primary-text);
    }
  }
}
