.form-textarea {
  width: 100%;
  max-height: 160px;
  color: var(--color-surface-text);
  background: var(--color-surface);
  padding: 12px 8px 12px 16px;
  border: solid 1px var(--color-surface-border);
  position: relative;
  display: block;
  box-sizing: border-box;
  transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  outline-width: 0;
  @mixin font normal, 14px, 16px, 18px, 24px, var(--font);
  &:focus {
    border: solid 1px var(--color-surface-border-focus);
  }
  &:hover {
    border: solid 1px var(--color-surface-border-hover);
  }
  &:-webkit-autofill {
    color: var(--color-surface);
  }
}
