{% load itcase_common l10n fb_versions %}

<div class="cart-list {% if complete %} cart-list_type_complete {% endif %}">
    {% for item in cart_items %}
        {% with complectation=item.product product=item.product.product price=item.price|floatformat:'-2' %}
            <div class="cart-list__item">
                {% if product.get_first_image %}
                    <div class="cart-list__item-image">
                        <img src="{% version product.get_first_image.image 'catalog_detail' %}" class="catalog-item__image-image" />
                    </div>
                {% endif %}

                <div class="cart-list__item-info">
                    <a href="{{ product.get_absolute_url }}" class="cart-list__item-info-title">
                      {{ product.name }}
                    </a>
                    <div class="cart-list__item-info-param">
                        {% for parameter in complectation.price_parametres.all %}
                            <div class="cart-list__item-info-param-item">{{ parameter.parametr_value }}</div>
                        {% endfor %}
                    </div>
                    {% if price == '0' %}
                      <div class="cart-list__item-info-state">
                          <div class="cart-list__item-info-state-text">Под заказ</div>
                      </div>
                    {% endif %}
                </div>

                {% with complectation_pk=complectation.pk|unlocalize %}
                    <div class="cart-list__item-count">
                        {% if complete %}
                            <div class="cart-list__item-count-text">{{ item.amount|unlocalize }}</div>
                        {% else %}
                            <div class="cart-list__item-count-button cart-list__item-count-button_action_minus" data-input-name="amount-{{ complectation_pk }}">&nbsp;</div>
                                <input class="cart-list__item-count-input"
                                     name="amount-{{ complectation_pk }}"
                                     value="{{ item.amount|unlocalize }}"
                                     data-product="{{ complectation_pk }}"
                                     data-step="{{ product.get_allowed_size }}"
                                     data-price="{{ price|unlocalize }}"
                                     data-item-amount="{{ product.remains }}"
                                     data-action="{{ view.ACTION_PRODUCT_AMOUNT }}"
                                     maxlength="3"
                                     type="text" />
                            <div class="cart-list__item-count-button cart-list__item-count-button_action_plus" data-input-name="amount-{{ complectation_pk }}">&nbsp;</div>
                        {% endif %}
                    </div>
                    <div class="cart-list__item-cost">
                        {% if price != '0' %}
                            {{ price }} р
                        {% endif %}
                    </div>

                    {% if not complete %}
                        <div class="cart-list__item-action">
                            <a href="{% url 'itcase_cart:cart_remove' %}?product={{ complectation_pk }}"
                               class="cart-list__item-action-link"
                               data-product="{{ complectation_pk }}"
                               data-amount-{{ complectation_pk }}="{{ product.get_allowed_size|unlocalize }}">&nbsp;</a>
                        </div>
                    {% endif %}
                {% endwith %}
            </div>
        {% endwith %}
    {% endfor %}

    {% with simple_ruble=True %}
      {% include 'itcase_cart/include/cart_items_sum.html' %}
    {% endwith %}
</div>
