.search-result {
  width: 100%;
  position: relative;
  &-list {
    background: var(--color-surface);
    padding: 32px 0 0 0;
    &__item {
      padding: 16px 48px;
      position: relative;
      @media (--mobile) {
        padding: 0 0 24px 0;
      }
      &:hover {
        background: var(--color-surface-hover);
      }
      &-wrapper {
        display: flex;
        @media (--mobile) {
          flex-flow: row wrap;
        }
        ^&-image {
          position: relative;
          @media (--mobile) {
            margin: 0 0 16px 0;
          }
        }
        ^&-inner {
          padding: 0 32px;
          flex-grow: 1;
          @media (--mobile) {
            padding: 0;
          }
        }
        ^&-button {
          position: relative;
        }
      }
      &-title {
        color: var(--color-surface-text);
        @mixin font 500, 16px, 24px, 24px, 32px, var(--font-title-secondary);
        &:hover {
          color: var(--color-surface-text-hover);
        }
      }
      &-text {
        color: var(--color-surface-text);
        margin: 8px 0 0 0;
        @mixin font normal, 14px, 18px, 14px, 18px, var(--font);
      }
      &-price {
        margin: 8px 0 0 0;
        &-text {
          color: var(--color-primary);
          padding: 6px 0;
          @mixin font bold, 14px, 28px, 14px, 28px, var(--font-title-secondary);
        }
      }
      &-state {
        margin: 8px 0 0 0;
        &-text {
          color: var(--color-primary-text);
          background: var(--color-primary);
          padding: 6px 16px;
          display: inline-block;
          @mixin font normal, 14px, 18px, 14px, 18px, var(--font-title-secondary);
        }
      }
    }
    &__button {
      display: block;
      max-width: 200px;
      margin: 0 auto 20px auto;
    }
  }
}
