.search-result {
  width: 100%;
  position: relative;
  &-list {
    background: var(--color-surface);
    padding: 32px 0 0 0;
    &__item {
      padding: 16px 48px;
      position: relative;
      display: flex;
      flex-flow: row wrap;
      @media (--mobile) {
        padding: 0 0 48px 0;
      }
      &:hover {
        background: var(--color-surface-hover);
      }
      &-wrapper {
        width: 100%;
        display: flex;
        @media (--mobile) {
          flex-flow: row wrap;
        }
        ^&-image {
          position: relative;
          @media (--mobile) {
            margin: 0 0 16px 0;
          }
          &-link {
            display: block;
          }
        }
        ^&-inner {
          width: 100%;
          padding: 0 32px;
          @media (--mobile) {
            padding: 0;
          }
        }
        ^&-button {
          position: relative;
          @media (--mobile) {
            width: 100%;
            text-align: right;
          }
          &-add {
           display: inline-block;
          }
        }
      }
      &-title {
        color: var(--color-surface-text);
        @mixin font 500, 16px, 24px, 24px, 32px, var(--font-title-secondary);
        &:hover {
          color: var(--color-surface-text-hover);
        }
      }
      &-text {
        color: var(--color-surface-text);
        margin: 8px 0 0 0;
        @mixin font normal, 14px, 18px, 14px, 18px, var(--font);
      }
      &-price {
        margin: 8px 0 0 0;
        position: relative;
        &-text {
          color: var(--color-primary);
          padding: 6px 0;
          display: inline-block;
          @mixin font bold, 18px, 28px, 18px, 28px, var(--font-title-secondary);
        }
        &-old {
          color: var(--color-surface-text);
          margin: -5px 0 0 0;
          position: relative;
          display: inline-block;
          vertical-align: top;
          @mixin font normal, 16px, 18px, 16px, 18px, var(--font);
          &::after {
            width: calc(100% + 6px);
            height: 1px;
            background: var(--color-surface-text);
            position: absolute;
            content: '';
            display: block;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            @media (--mobile) {
              height: 2px;
            }
          }
        }
      }
      &-state {
        margin: 8px 0 0 0;
        &-text {
          color: var(--color-primary-text);
          background: var(--color-primary);
          padding: 6px 16px;
          display: inline-block;
          @mixin font normal, 14px, 18px, 14px, 18px, var(--font-title-secondary);
        }
      }
    }
    &__button {
      display: block;
      max-width: 200px;
      margin: 0 auto 20px auto;
    }
  }
}
