**/__build/
/.git
bower_components/
node_modules/

/node_modules
/static/tinymce_4

*.html
*.css
*.css.map
__*.js
__*.js.map

**/example/**
**/plugins/**/*.js"
**/plugins/*.js
**/vendor/**/*.js
**/vendor/*.js
