django-appconf
django-braces
django-compressor
django-extensions
django-filebrowser<3.13
django-grappelli<2.14
django-mptt
django-mptt-admin
django-phonenumber-field
django-recaptcha
django-redis
django-tinymce-4
django-rq
django<3
djangorestframework
django-user-agents

elasticsearch_dsl
phonenumberslite
pillow
psycopg2-binary
pytils
raven
requests

git+https://github.com/stephenmcd/django-forms-builder.git
