.content {
  & h1 {
    width: 100%;
    color: var(--color-surface-text);
    padding: 0 0 24px 0;
    margin: 0;
    @mixin font bold, 24px, 72px, 24px, 72px, var(--font);
    & a {
      color: var(--color-surface-text);
      padding: 0;
      margin: 0;
      @mixin font bold, 24px, 72px, 24px, 72px, var(--font);
    }
  }
  & h2 {
    width: 100%;
    color: var(--color-surface-text);
    padding: 0 0 32px 0;
    margin: 0;
    @mixin font 500, 18px, 48px, 24px, 56px, var(--font);
    & a {
      color: var(--color-surface-text);
      padding: 0;
      margin: 0;
      @mixin font 500, 18px, 48px, 24px, 56px, var(--font);
    }
  }
  & h3 {
    width: 100%;
    color: var(--color-surface-text);
    padding: 0 0 32px 0;
    margin: 0;
    @mixin font 500, 16px, 32px, 20px, 36px, var(--font);
  }
  & h4 {
    width: 100%;
    color: var(--color-surface-text);
    padding: 0 0 32px 0;
    margin: 0;
    @mixin font 500, 16px, 28px, 20px, 32px, var(--font);
    @media (--mobile) {
      padding: 0 0 24px 0;
    }
  }
  & h5 {
    width: 100%;
    color: var(--color-surface-text);
    padding: 0 0 16px 0;
    margin: 0;
    @mixin font bold, 18px, 24px, 24px, 32px, var(--font);
    @media (--mobile) {
      padding: 0 0 8px 0;
    }
  }
  & a {
    color: var(--color-primary);
    &:hover {
      color: var(--color-accent);
    }
  }
  & p {
    width: 100%;
    color: var(--color-surface-text);
    padding: 0 0 24px 0;
    margin: 0;
    @mixin font normal, 18px, 18px, 28px, 28px, var(--font);
    & img {
      width: 100%;
      box-sizing: border-box;
    }
  }
  & em {
    font-style: italic;
  }
  & strong {
    font-weight: bold;
  }
  & i {
    font-style: italic;
  }
}
