.content {
  &&_type_main-page {
    & table {
      & tr {
        @media (--mobile) {
          display: block;
        }
        & td {
          @media (--mobile) {
            width: 100%;
            padding: 0 20px;
            margin: 0 0 20px 0;
            display: block;
            box-sizing: border-box;
          }
          &:first-child {
            @media (--mobile) {
              padding: 0 20px;
            }
          }
          &:nth-child(2) {
            @media (--mobile) {
              display: none;
            }
          }
        }
      }
    }
  }
}
