.logo {
  width: 100%;
  position: relative;
  @media (--mobile) {
    width: 60px;
    overflow: hidden;
    margin: 0 auto;
  }
  &__link {
    display: block;
    &-image {
      position: relative;
    }
  }
}
