.logo {
  width: 100%;
  position: relative;
  @media (--mobile) {
    width: 48px;
    margin: 0 auto;
    overflow: hidden;
  }
  &__link {
    display: block;
    &-image {
      position: relative;
      @media (--mobile) {
        height: 32px;
      }
    }
  }
}
