.form-response {
  text-align: center;
  &__item {
    font: 16px var(--font);
    color: #000;
    margin: 0 0 30px 0;
    &_type_success {
      color: #000;
      background: var(--color-green);
    }
    &_type_error {
      color: #fff;
      background: var(--color-red);
    }
    &_type_debug {
      background: #d2d2d2;
    }
    &_type_info {
      color: #fff;
      background: #00aedb;
    }
    &_type_warning {
      background: #ffc425;
    }
  }
}
