.logos-title {
    color: var(--color-neutral-text);
    margin: 0 0 24px 0;
    @mixin font 500, 14px, 42px, 18px, 48px, var(--font-title-secondary);
  &-link {
    color: var(--color-neutral-text);
  }
}
