.logos-title {
  color: var(--color-neutral-text);
  margin: 0 0 24px 0;
    @mixin font 500, 18px, 42px, 24px, 48px, var(--font-title-secondary);
    @media (--mobile) {
      padding: 0 20px;
    }
  &-link {
    color: var(--color-neutral-text);
  }
}
