.cart-button {
  text-decoration: none;
  text-align: center;
  background: var(--color-neutral);
  padding: 14px 24px 12px 24px;
  margin: 0 0 0 16px;
  border-radius: 100px;
  position: relative;
  display: block;
  transition: all 0.15s ease-in-out;
  cursor: pointer;
  @media (--mobile) {
    min-width: 0;
    padding: 0;
    margin: 0;
  }
  &:hover {
    background: var(--color-neutral-hover);
  }
  &__text {
    color: var(--color-neutral-text);
    text-decoration: none;
    display: inline-block;
    @mixin font normal, 14px, 18px, 14px, 18px, var(--font-title-secondary);
    @media (--mobile) {
      display: block;
      color: var(--color-neutral);
      background: var(--color-neutral);
    }
    &::after {
      @media (--mobile) {
        width: 32px;
        height: 32px;
        background: var(--color-neutral) url('./../img/icon/add_to_cart.svg') no-repeat 50% 50%;
        display: block;
        content: '';
      }
    }
  }
}
