.cart-button {
  text-decoration: none;
  text-align: center;
  background: var(--color-neutral);
  padding: 14px 24px 12px 24px;
  margin: 0 0 0 16px;
  border-radius: 100px;
  position: relative;
  display: block;
  transition: all 0.15s ease-in-out;
  cursor: pointer;
  @media (--mobile), (--tablet) {
    min-width: 0;
    background: none;
    padding: 0;
    margin: 0;
  }
  &:hover {
    background: var(--color-neutral-hover);
  }
  &__text {
    color: var(--color-neutral-text);
    text-decoration: none;
    position: relative;
    display: flex;
    @mixin font normal, 14px, 18px, 14px, 18px, var(--font-title-secondary);
    @media (--mobile), (--tablet) {
      color: var(--color-neutral);
      display: block;
    }
    &::after {
      width: 16px;
      height: 16px;
      background: url('./../img/icon/add_to_cart.svg') no-repeat 50% 50%;
      background-size: 16px 16px;
      margin: 0 0 0 8px;
      content: '';
      display: block;
      @media (--mobile), (--tablet) {
        display: none;
      }
    }
    &::before {
      @media (--mobile), (--tablet) {
        width: 40px;
        height: 40px;
        background: url('./../img/icon/add_to_cart.svg') no-repeat 50% 50%;
        background-size: 16px 16px;
        border-radius: 50%;
        position: absolute;
        content: '';
        display: block;
        left: 0;
        top: 0;
      }
    }
    &-count {
      min-width: 32px;
      min-height: 32px;
      color: var(--color-primary-text);
      background: var(--color-primary);
      padding: 8px 0 0 0;
      border-radius: 50%;
      position: relative;
      position: absolute;
      display: block;
      box-sizing: border-box;
      top: -24px;
      right: -36px;
      @media (--mobile) {
        top: -6px;
        right: -12px;
        transform: scale(0.6);
      }
      @media (--tablet) {
        top: -8px;
        right: 8px;
        transform: scale(0.8);
      }
      &-text {
        display: none;
      }
    }
  }
}
