.cart-title {
  color: var(--color-neutral-text);
  padding: 32px 0 20px 0;
  @mixin font 500, 14px, 42px, 18px, 48px, var(--font-title-secondary);
  &-link {
    color: var(--color-neutral-text);
  }
  &-second {
    @mixin font normal, 14px, 36px, 18px, 36px, var(--font-title-secondary);
    margin: 0 0 24px 0;
  }
}
