/* stylelint-disable */

@font-face {
  font-family: 'Fact-Expanded';
  src: url('../fonts/Fact-ExpandedBold.eot');
  src: url('../fonts/Fact-ExpandedBold.eot?#iefix') format('eot'), url('../fonts/Fact-ExpandedBold.woff') format('woff'), url('../fonts/Fact-ExpandedBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}