 <div class="menu-icon">

    <div class="menu-icon__item">
        <a href="{% url 'itcase_cart:cart' %}" class="menu-icon__item-cart">
            {% with count=cart.count total=cart.total|floatformat:'-2' %}
                <span class="menu-icon__item-state cart-button__count">{{ count }}</span>
            {% endwith %}
        </a>
    </div>
    <div class="menu-icon__item">
        {% with hide_text=True %}
            {% include 'itcase_pages/include/site_menu.html' %}
        {% endwith %}
    </div>
</div>
