{% load catalog_tags %}

<div class="site-menu-popup">
    <div class="site-menu-popup__wrapper">
        {% if show_close %}
            <div class="site-menu-popup__close">&nbsp;</div>
        {% endif %}
        <div class="site-menu-popup__wrapper-inner">
            <div class="site-menu-popup__column">
                {% with hide_image=True class="catalog-menu-popup catalog-menu-popup_type_mobile" %}
                    {% get_categories_by level=0 %}
                {% endwith %}
            </div>
            {% for main_menu in site_menu %}
                <div class="site-menu-popup__column">
                    {% include './site_menu_list.html' %}
                </div>
            {% endfor %}
            {% include './site_menu_popup_footer.html' %}
        </div>
    </div>
</div>

{% if not hide_fader %}
    <div class="site-menu__fader">&nbsp;</div>
{% endif %}
