.catalog-group {
  width: 100%;
  margin: 32px 0 20px 0;
  position: relative;
  &__wrapper {
    width: 100%;
    max-width: var(--max);
    margin: 0 auto;
    @media (--mobile) {
      background: var(--color-neutral);
    }
  }
  &__title {
    color: var(--color-neutral-text);
    margin: 0 0 24px 0;
    @mixin font 500, 18px, 42px, 24px, 48px, var(--font-title-secondary);
    @media (--mobile) {
      padding: 0 20px;
    }
  }
  &__sort {
    @media (--mobile) {
      display: none;
    }
  }
  &__inner {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    &-left {
      width: 300px;
      position: relative;
      z-index: 2;
      &-inner {
        margin: 0 32px 0 0;
      }
    }
    &-right {
      position: relative;
      flex: 1;
      z-index: 1;
      &-inner {
        position: relative;
      }
    }
  }
  &-page {
    width: 100%;
    padding: 0 0 60px 0;
    &_type_second {
      & .catalog-group__inner {
        &-left {
          width: 100%;
        }
        &-right {
          width: 100%;
        }
      }
      & .catalog-item {
        width: calc(25% - 32px);
        flex: 0 0 auto;
        @media (--mobile), (--tablet) {
          width: 100%;
          margin: 0 16px 20px 16px;
          flex: initial;
        }
      }
    }
  }
}
