.catalog-group-second {
  width: 100%;
  background: var(--color-neutral);
  padding: 24px;
  margin: 0 0 24px 0;
  position: relative;
  @media (--mobile) {
    padding: 0;
  }
  &__wrapper {
    max-width: var(--max);
    padding: 0 32px;
    margin: 0 auto;
    @media (--mobile) {
      padding: 16px 20px;
    }
  }
  &__list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    &-item {
      width: 30%;
      margin: 0 0 12px 0;
      @media (--mobile) {
        width: 50%;
      }
      &-link {
        color: var(--color-neutral-text);
        text-decoration: none;
        @mixin font normal, 16px, 20px, 20px, 24px, var(--font-title-secondary);
        &:hover {
          color: var(--color-neutral-text-hover);
        }
      }
    }
  }
}
