/* stylelint-disable custom-property-empty-line-before */

:root {
  --font: 'Fact', sans-serif;
  --font-secondary: 'Fact', helvetica, sans-serif;
  --font-title: 'Fact-Expanded', sans-serif;
  --font-title-secondary: 'Fact-Semi-Expanded', sans-serif;
  --font-email: 'Arial', sans-serif;

  --color-primary: #d82318;
  --color-primary-hover: color(rgba(#d82318, 1) l(30%));
  --color-primary-text: #fff;
  --color-primary-text-hover: #fff;
  --color-primary-item: #fff;
  --color-primary-item-hover: #f4a404;

  --color-secondary: #069;
  --color-secondary-hover: color(rgba(#069, 1) l(30%));
  --color-secondary-text: #fff;
  --color-secondary-text-hover: #fff;
  --color-secondary-text-accent: #fe0201;

  --color-neutral: #f9f9fa;
  --color-neutral-hover: color(rgba(#f9f9fa, 1) l(90%));
  --color-neutral-text: #000;
  --color-neutral-text-hover: #d82318;
  --color-neutral-item: #eee;
  --color-neutral-border: #eee;
  --color-neutral-shadow: rgba(#000, 0.2);

  --color-surface: #fff;
  --color-surface-hover: #fafafa;
  --color-surface-text: #000;
  --color-surface-text-hover: #f4a404;
  --color-surface-text-disabled: #999;
  --color-surface-item: #000;
  --color-surface-item-hover: #f4a404;
  --color-surface-item-disabled: #999;
  --color-surface-shadow: rgba(#000, 0.2);
  --color-surface-border: #333;

  --color-accent: #fe0201;
  --color-accent-hover: color(rgba(#fe0201, 1) l(30%));
  --color-accent-text: #fff;
  --color-accent-text-hover: #fff;

  --color-error: red;
  --color-error-text: #fff;
  --color-error-bg: rgba(#f00, 0.05);

  --color-success: #00b159;
  --color-success-text: #fff;
  --color-success-bg: rgba(#00b159, 0.05);

  --min-max: 320px 2560px;
  --min: 320px;
  --max: 1366px;
}
