.search-input {
  width: 100%;
  background: var(--color-primary);
  position: relative;
  &__input {
    width: 100%;
    color: var(--color-surface-text);
    background: var(--color-surface);
    border: none;
    border-radius: 4px;
    display: block;
    box-sizing: border-box;
    @mixin font normal, 16px, 16px, 22px, 22px, var(--font-title-secondary);
    &:focus {
      outline: 0;
    }
  }
  &__clear {
    width: 16px;
    height: 16px;
    position: absolute;
    display: none;
    top: 50%;
    right: 15px;
    z-index: 2;
    transform: translate(0, -50%);
    transition: all 0.1s ease-in-out;
    opacity: 0.5;
    cursor: pointer;
    &::before,
    &::after {
      width: 20px;
      height: 2px;
      background: var(--color-surface-item);
      position: absolute;
      content: '';
      display: block;
      left: calc(50% - 10px);
      top: calc(50% - 1px);
    }
    &::before {
      background: var(--color-surface-item);
      transform: rotate(-45deg);
    }
    &::after {
      background: var(--color-surface-item);
      transform: rotate(45deg);
    }
    &:hover {
      opacity: 1;
    }
    &_state_hidden {
      display: none;
    }
  }
}
