.search {
  &&_type_quick {
    width: 48px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    @media (--mobile) {
      margin: 0;
      top: 6px;
      z-index: 99999999;
    }
    &&_state_visible {
      animation-name: quickSearchFadeIn;
      @media (--mobile) {
        animation-name: quickSearchFadeInMobile;
      }
      & .search {
        &-input {
          &__icon {
            cursor: pointer;
            &:hover {
              transform: scale(1);
            }
          }
          &__input {
            visibility: visible;
            animation-name: quickSearchInputFadeIn;
            @media (--mobile) {
              animation: none;
            }
          }
        }
      }
    }
    &&_state_hidden {
      animation-name: quickSearchFadeOut;
      @media (--mobile) {
        animation-name: quickSearchFadeOutMobile;
      }
      & .search {
        &-input {
          &__icon {
            &:hover {
              transform: scale(1);
            }
          }
          &__input {
            animation-name: quickSearchInputFadeOut;
            @media (--mobile) {
              animation: none;
            }
          }
        }
      }
    }
    &&_state_active {
      & .search {
        &-result {
          display: block;
          animation-name: quickSearchResultFadeIn;
        }
      }
    }
    & .search {
      &__wrapper {
        height: 100%;
      }
      &-input {
        height: 100%;
        display: flex;
        &:hover {
          cursor: pointer;
        }
        &__icon {
          min-width: 48px;
          background: url('./../img/icon/search.svg') no-repeat 50% 50%;

          &:hover {
            background: var(--color-primary-hover) url('./../img/icon/search.svg') no-repeat 50% 50%;
          }
        }
        &__input {
          margin: 0;
          padding: 0;
          visibility: hidden;
        }
      }
      &-result {
        margin: 20px 0 0 0;
        border-radius: 2px;
        display: none;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        animation-duration: 0.3s;
        animation-fill-mode: both;
      }
    }
  }
}

@keyframes quickSearchFadeIn {
  from {
    width: 45px;
  }
  to {
    width: 100%;
  }
}

@keyframes quickSearchFadeInMobile {
  from {
    width: 45px;
  }
  to {
    width: 92%;
    right: 4%;
  }
}

@keyframes quickSearchFadeOut {
  from {
    width: 90%;
    transform: translate(0, 0);
  }
  to {
    width: 45px;
    right: 0;
  }
}

@keyframes quickSearchFadeOutMobile {
  from {
    width: 90%;
    transform: translate(0, 0);
  }
  to {
    width: 45px;
  }
}

@keyframes quickSearchInputFadeIn {
  from {
    border: solid 1px var(--color-white);
  }
  to {
    border: solid 1px var(--color-gray);
  }
}

@keyframes quickSearchInputFadeOut {
  from {
    border: solid 1px var(--color-gray);
  }
  to {
    border: solid 1px var(--color-white);
  }
}

@keyframes quickSearchResultFadeIn {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}
