<div class="catalog-sort">
    <div data-sort-dropdown class="catalog-sort-dropdown">
        {% comment %}
            Value for "sort"(price/name) is a reverse of the active one.
            for control of sort icon direction. eg: when "sort-price=0" then "value" be "1"
        {% endcomment %}

        <div class="catalog-sort-dropdown__current
                catalog-sort-dropdown__item_sort_default
            {% if sort.price == 0 or sort.name == 0 %}
                catalog-sort-dropdown__item_sort_asc
            {% elif sort.price == 1 or sort.name == 1 %}
                catalog-sort-dropdown__item_sort_desc
            {% endif %}">
            {% if sort.price == 1 %}
                Сначала дешевые
            {% elif sort.price == 0 %}
                Сначала дорогие
            {% elif sort.name == 1 %}
                от А до Я
            {% elif sort.name == 0 %}
                от Я до А
            {% else %}
                По умолчанию
            {% endif %}
        </div>

        <div class="catalog-sort-dropdown__list">
            <a href="#" class="catalog-sort-dropdown__item catalog-sort-dropdown__item_sort_default">По умолчанию</a>
            {% with value=sort.price|default:0 %}
                <a href="?sort-price=0"
                   data-sort-field="sort-price"
                   data-sort-value="0"
                   class="catalog-sort-dropdown__item catalog-sort-dropdown__item_sort_asc">
                    Сначала дешевые
                </a>
                <a href="?sort-price=1"
                   data-sort-field="sort-price"
                   data-sort-value="1"
                   class="catalog-sort-dropdown__item catalog-sort-dropdown__item_sort_desc">
                    Сначала дорогие
                </a>
            {% endwith %}

            {% with value=sort.name|default:0 %}
                <a href="?sort-name=0"
                   data-sort-field="sort-name"
                   data-sort-value="0"
                   class="catalog-sort-dropdown__item catalog-sort-dropdown__item_sort_asc">
                    от А до Я
                </a>
                <a href="?sort-name=1"
                   data-sort-field="sort-name"
                   data-sort-value="1"
                   class="catalog-sort-dropdown__item catalog-sort-dropdown__item_sort_desc">
                    от Я до А
                </a>
            {% endwith %}
        </div>
    </div>
</div>
