{% load l10n %}

{% localize off %}
    <form method="post" accept-charset="utf-8" class="catalog-filter"></form>
        {% csrf_token %}

        {% if sort_group %}
            <div class="catalog-filter-group catalog-filter-group_state_level catalog-filter-group_state_open" >
                {% with hit_key='filter-in_hit' action_key='filter-in_action' recommended_key='filter-in_recommended' %}
                    <div class="catalog-filter-group__list">
                        <div class="catalog-filter-group__list-item
                                    {% if hit_key in query %} catalog-filter-group__list-item_state_checked{% endif %}
                                    {% if in_hit_disabled %} catalog-filter-group__list-item_state_disabled{% endif %}">
                            <label class="catalog-filter-group__list-item-label">
                                <input class="catalog-filter-group__list-item-checkbox"
                                       type="checkbox"
                                       name="{{ hit_key }}"
                                       value="1"
                                       {% if in_hit_disabled %}disabled="disabled"{% endif %}
                                       {% if hit_key in query %}checked="checked"{% endif %} />
                                <span class="catalog-filter-group__list-item-text">
                                    Хит продаж
                                </span>
                            </label>
                        </div>

                        <div class="catalog-filter-group__list-item
                                    {% if action_key in query %} catalog-filter-group__list-item_state_checked{% endif %}
                                    {% if in_action_disabled %} catalog-filter-group__list-item_state_disabled{% endif %}">
                            <label class="catalog-filter-group__list-item-label">
                                <input class="catalog-filter-group__list-item-checkbox"
                                       type="checkbox"
                                       name="{{ action_key }}"
                                       value="1"
                                       {% if in_action_disabled %}disabled="disabled"{% endif %}
                                       {% if action_key in query %}checked="checked"{% endif %} />
                                <span class="catalog-filter-group__list-item-text">
                                    Распродажа
                                </span>
                            </label>
                        </div>

                        <div class="catalog-filter-group__list-item
                                    {% if recommended_key in query %} catalog-filter-group__list-item_state_checked{% endif %}
                                    {% if in_recommended_disabled %} catalog-filter-group__list-item_state_disabled{% endif %}">
                            <label class="catalog-filter-group__list-item-label">
                                <input class="catalog-filter-group__list-item-checkbox"
                                       type="checkbox"
                                       name="{{ recommended_key }}"
                                       value="1"
                                       {% if in_recommended_disabled %}disabled="disabled"{% endif %}
                                       {% if recommended_key in query %}checked="checked"{% endif %} />
                                <span class="catalog-filter-group__list-item-text">
                                    Рекомендуем
                                </span>
                            </label>
                        </div>
                    </div>
                {% endwith %}
            </div>
        {% endif %}

        {% if filter_category %}
            <div class="catalog-filter-group catalog-filter-group_state_level catalog-filter-group_state_open" data-group-key="category">
                <div class="catalog-filter-group__list">
                    {% for category in filter_category %}
                        <div class="catalog-filter-group__list-item
                                    {% if category.checked %} catalog-filter-group__list-item_state_checked{% endif %}
                                    {% if category.disabled %} catalog-filter-group__list-item_state_disabled{% endif %}">
                            <label class="catalog-filter-group__list-item-label">
                                <input class="catalog-filter-group__list-item-checkbox"
                                       type="checkbox"
                                       name="filter-category"
                                       value="{{ category.pk }}"
                                       {% if category.disabled %}disabled="disabled"{% endif %}
                                       {% if category.checked %}checked="checked"{% endif %} />
                                <span class="catalog-filter-group__list-item-text">
                                    {{ category.name }} ({{ category.items_count }})
                                </span>
                            </label>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        {% if filter_special %}
            <div class="catalog-filter-group catalog-filter-group_state_level catalog-filter-group_state_open" data-group-key="category">
                <div class="catalog-filter-group__list">
                    {% for category in filter_special %}
                        <div class="catalog-filter-group__list-item
                                    {% if category.checked %} catalog-filter-group__list-item_state_checked{% endif %}
                                    {% if category.disabled %} catalog-filter-group__list-item_state_disabled{% endif %}">
                            <label class="catalog-filter-group__list-item-label">
                                <input class="catalog-filter-group__list-item-checkbox"
                                       type="checkbox"
                                       name="filter-special"
                                       value="{{ category.pk }}"
                                       {% if category.disabled %}disabled="disabled"{% endif %}
                                       {% if category.checked %}checked="checked"{% endif %} />
                                <span class="catalog-filter-group__list-item-text">
                                    {{ category.name }} ({{ category.items_count }})
                                </span>
                            </label>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        {% if 'search' in request.get_full_path %}
            <input type="hidden" name="search" value="{{ search }}" />
        {% endif %}

        {% if filter_brand %}
            <div class="catalog-filter-group catalog-filter-group_state_open" data-group-key="brand">
                <div class="catalog-filter-group__title">Бренды</div>
                <div class="catalog-filter-group__list">
                    {% for brand in filter_brand %}
                        <div class="catalog-filter-group__list-item
                                    {% if brand.checked %} catalog-filter-group__list-item_state_checked{% endif %}
                                    {% if brand.disabled %} catalog-filter-group__list-item_state_disabled{% endif %}">
                            <label class="catalog-filter-group__list-item-label">
                                <input class="catalog-filter-group__list-item-checkbox"
                                       type="checkbox"
                                       name="filter-brand"
                                       value="{{ brand.pk }}"
                                       {% if brand.disabled %}disabled="disabled"{% endif %}
                                       {% if brand.checked %}checked="checked"{% endif %} />
                                <span class="catalog-filter-group__list-item-text">
                                    {{ brand.name }} ({{ brand.items_count }})
                                </span>
                            </label>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        {% if filter_price_max and filter_price_min %}
            <div class="catalog-filter-group">
                <div class="catalog-filter-group__title">Стоимость</div>
                <div class="catalog-filter-group__range">
                    <input class="catalog-filter-group__range-item" type="text" name="filter-price_min" value="{{ filter_price_min }}" data-price-min="true" />
                    <div class="catalog-filter-group__range-separator">&nbsp;</div>
                    <input class="catalog-filter-group__range-item" type="text" name="filter-price_max" value="{{ filter_price_max }}" data-price-max="true" />
                    <div data-range-slider="true"></div>
                </div>
            </div>
        {% endif %}

        {% if other_fields %}
            {% for field, parametres in other_fields.items %}
                <div class="catalog-filter-group catalog-filter-group_state_open" data-group-key="{{ field.query_name }}">
                    <div class="catalog-filter-group__title">{{ field.name }}</div>
                    <div class="catalog-filter-group__list">
                        {% for parametr, parametr_data in parametres.items %}
                            <div class="catalog-filter-group__list-item
                                        {% if parametr_data.checked %} catalog-filter-group__list-item_state_checked{% endif %}
                                        {% if not parametr_data.items_count %} catalog-filter-group__list-item_state_disabled{% endif %}">
                                <label class="catalog-filter-group__list-item-label">
                                    <input class="catalog-filter-group__list-item-checkbox"
                                           type="checkbox"
                                           name="filter-{{ field.query_name }}"
                                           value="{{ parametr.pk }}"
                                           {% if not parametr_data.items_count %}disabled="disabled"{% endif %}
                                           {% if parametr_data.checked %}checked="checked"{% endif %} />
                                    <span class="catalog-filter-group__list-item-text">
                                        {{ parametr.value }}({{ parametr_data.items_count }})
                                    </span>
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        {% endif %}

        {% if show_button %}
            <div class="catalog-filter__button">
                <input class="catalog-filter__button-item button button_type_primary" type="submit" name="" value="Показать" />
            </div>
        {% endif %}

        <div class="catalog-filter__clear button button_type_neutral">
            <div class="button__text">Очистить фильтры</div>
        </div>


{% endlocalize %}
