{% if sort_group %}
    <div class="catalog-sort">
        <div data-sort-dropdown class="catalog-sort-dropdown">
            {% comment %}
                Value for "sort"(price/name) is a reverse of the active one.
                for control of sort icon direction. eg: when "sort-price=0" then "value" be "1"
            {% endcomment %}

            <div class="catalog-sort-dropdown__current catalog-sort-dropdown__item_sort_default">
                {% if 'price' in sort %}
                    По цене
                {% elif 'name' in sort  %}
                    По названию
                {% else %}
                    По умолчанию
                {% endif %}
            </div>

            <div class="catalog-sort-dropdown__list">
                <a href="#" class="catalog-sort-dropdown__item catalog-sort-dropdown__item_sort_default">По умолчанию</a>
                {% with value=sort.price|default:0 %}
                    <a href="?sort-price=0"
                       data-sort-field="sort-price"
                       data-sort-value="0"
                       class="catalog-sort-dropdown__item catalog-sort-dropdown__item_sort_asc">
                        По цене
                    </a>
                    <a href="?sort-price=1"
                       data-sort-field="sort-price"
                       data-sort-value="1"
                       class="catalog-sort-dropdown__item catalog-sort-dropdown__item_sort_desc">
                        По цене
                    </a>
                {% endwith %}

                {% with value=sort.name|default:0 %}
                    <a href="?sort-name=0"
                       data-sort-field="sort-name"
                       data-sort-value="0"
                       class="catalog-sort-dropdown__item catalog-sort-dropdown__item_sort_asc">
                        По названию
                    </a>
                    <a href="?sort-name=1"
                       data-sort-field="sort-name"
                       data-sort-value="1"
                       class="catalog-sort-dropdown__item catalog-sort-dropdown__item_sort_desc">
                        По названию
                    </a>
                {% endwith %}
            </div>
        </div>
    </div>
{% endif %}
