{% for group, products in products_groups.items %}
    {% if products %}
        <div class="catalog-list catalog-list_type_scroll">
            <div class="catalog-group" data-category="{{ group }}">
                <div class="catalog-group__title">
                    {% if group == 'recommended' %}Рекомендуем{% endif %}
                    {% if group == 'hit' %}Хиты продаж{% endif %}
                    {% if group == 'action' %}Акции и распродажи{% endif %}
                </div>
                <div class="catalog-group__inner">
                    <div class="catalog-list catalog-list_type_scroll">
                        {% for row in products %}
                            {% for product in row %}
                                {% with filter_data_price_query='' item_class='catalog-item_type_main-page' %}
                                    {% include 'itcase_catalog/include/catalog_item.html' %}
                                {% endwith %}
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endfor %}
