<div class="catalog-group-page catalog-group-page_type_second">
    <div class="catalog-group-second">
        <ul class="catalog-group-second__list">
            {% for subcategory in category.children.all %}
                <li class="catalog-group-second__list-item">
                    <a href="{{ subcategory.get_absolute_url }}" class="catalog-group-second__list-item-link">
                        {{ subcategory.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

{{ category }}
    <div class="catalog-group__inner-right">
        <div class="catalog-group__inner-right-inner">
            {% include 'itcase_catalog/include/catalog_loading.html' %}
            {% include 'itcase_catalog/include/catalog_list.html' %}
        </div>
    </div>

    {% include 'itcase_paginator/include/paginator.html' %}
</div>
