{% load l10n %}

{% localize off %}
    <form method="post" accept-charset="utf-8" class="catalog-filter" {% if site_version == 'mobile' %} id="catalogFilter" {% endif %}>
        {% csrf_token %}

        {% if filter_data_misc %}
            <div class="catalog-filter-group catalog-filter-group_type_special catalog-filter-group_state_open">
                <div class="catalog-filter-group__list">
                    {% for pk, item in filter_data_misc.items %}
                        <div class="catalog-filter-group__list-item
                                    {% if item.selected %} catalog-filter-group__list-item_state_checked{% endif %}
                                    {% if not item.available %} catalog-filter-group__list-item_state_disabled{% endif %}">
                            <label class="catalog-filter-group__list-item-label">
                                <input class="catalog-filter-group__list-item-checkbox"
                                       type="checkbox"
                                       name="{{ filter_key_misc }}"
                                       value="{{ pk }}"
                                       {% if item.selected %}checked="checked"{% endif %}
                                       {% if not item.available %}disabled="disabled"{% endif %} />
                                <span class="catalog-filter-group__list-item-text">
                                    {% if pk == 'in_hit' %}Хит продаж{% endif %}
                                    {% if pk == 'in_action' %}Распродажа{% endif %}
                                    {% if pk == 'in_recommended' %}Рекомендуем{% endif %}
                                    ({{ item.products|length }})
                                </span>
                            </label>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        {% if filter_data_category %}
            <div class="catalog-filter-group catalog-filter-group_state_open" data-group-key="category">
                <div class="catalog-filter-group__list">
                    {% for pk, categ in filter_data_category.items %}
                        <div class="catalog-filter-group__list-item
                                    {% if categ.selected %} catalog-filter-group__list-item_state_checked{% endif %}
                                    {% if not categ.available %} catalog-filter-group__list-item_state_disabled{% endif %}">
                            <label class="catalog-filter-group__list-item-label">
                                <input class="catalog-filter-group__list-item-checkbox"
                                       type="checkbox"
                                       name="{{ filter_key_category }}"
                                       value="{{ pk }}"
                                       {% if categ.selected %}checked="checked"{% endif %}
                                       {% if not categ.available %}disabled="disabled"{% endif %} />
                                <span class="catalog-filter-group__list-item-text">
                                    {{ categ.name }}
                                    <span class="catalog-filter-group__list-item-count">{{ categ.products|length }}</span>
                                </span>
                            </label>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        {% if 'search' in request.get_full_path %}
            <input type="hidden" name="search" value="{{ search }}" />
        {% endif %}

        {% if filter_data_brand %}
            <div class="catalog-filter-group catalog-filter-group_state_open" data-group-key="brand">
                <div class="catalog-filter-group__title">Бренды</div>
                <div class="catalog-filter-group__list">
                    {% for pk, brand in filter_data_brand.items %}
                        <div class="catalog-filter-group__list-item
                                    {% if brand.selected %} catalog-filter-group__list-item_state_checked{% endif %}
                                    {% if not brand.available %} catalog-filter-group__list-item_state_disabled{% endif %}">
                            <label class="catalog-filter-group__list-item-label">
                                <input class="catalog-filter-group__list-item-checkbox"
                                       type="checkbox"
                                       name="{{ filter_key_brand }}"
                                       value="{{ pk }}"
                                       {% if brand.selected %}checked="checked"{% endif %}
                                       {% if not brand.available %}disabled="disabled"{% endif %} />
                                <span class="catalog-filter-group__list-item-text">
                                    {{ brand.name }}
                                    <span class="catalog-filter-group__list-item-count">{{ brand.products|length }}</span>
                                </span>
                            </label>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        {% if filter_data_price %}
            <div class="catalog-filter-group catalog-filter-group_state_open">
                <div class="catalog-filter-group__title">Стоимость</div>
                <div class="catalog-filter-group__range">
                    <input class="catalog-filter-group__range-item" type="text" name="{{ filter_key_price }}min" value="{{ filter_data_price.min }}" data-price-min="true" />
                    <div class="catalog-filter-group__range-separator">&nbsp;</div>
                    <input class="catalog-filter-group__range-item" type="text" name="{{ filter_key_price }}max" value="{{ filter_data_price.max }}" data-price-max="true" />
                    <div data-range-slider="true"></div>
                </div>
            </div>
        {% endif %}

        {% if filter_data_param %}
            {% for group in filter_data_param.values %}
                <div class="catalog-filter-group" data-group-key="param">
                    <div class="catalog-filter-group__title">{{ group.name }}</div>
                    <div class="catalog-filter-group__list">
                        {% for pk, param in group.values.items %}
                            <div class="catalog-filter-group__list-item
                                        {% if param.selected %} catalog-filter-group__list-item_state_checked{% endif %}
                                        {% if not param.available %} catalog-filter-group__list-item_state_disabled{% endif %}">
                                <label class="catalog-filter-group__list-item-label">
                                    <input class="catalog-filter-group__list-item-checkbox"
                                           type="checkbox"
                                           name="{{ filter_key_param }}{{ group.query_name }}"
                                           value="{{ pk }}"
                                           {% if param.selected %}checked="checked"{% endif %}
                                           {% if not param.available %}disabled="disabled"{% endif %} />
                                    <span class="catalog-filter-group__list-item-text">
                                        {{ param.name }}
                                        <span class="catalog-filter-group__list-item-count">{{ param.products|length }}</span>
                                    </span>
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        {% endif %}

        {% if show_button %}
            <div class="catalog-filter__button">
                <input class="catalog-filter__button-item button button_type_primary" type="submit" name="" value="Показать" />
            </div>
        {% endif %}

        <div class="catalog-filter__clear button button_type_neutral">
            <div class="button__text">Очистить фильтры</div>
        </div>
    </form>

{% endlocalize %}
