
<div class="catalog-group-page">
    <div class="catalog-group__sort">
        {% include './catalog_sort.html' %}
    </div>

    <div class="catalog-group__inner">
        {% if filter_enabled %}
            <div class="catalog-filter-popup">
                <span class="catalog-filter-popup__button button button_type_primary">
                    <span class="button_text">Фильтр</span>
                </span>
            </div>

            <div class="catalog-group__inner-left">
                <div class="catalog-group__inner-left-inner">
                    {% include './catalog_filter.html' %}
                </div>
            </div>
        {% endif %}

        <div class="catalog-group__inner-right">
            <div class="catalog-group__inner-right-inner">
                {% include './catalog_loading.html' %}
                {% include './catalog_list.html' %}
            </div>
        </div>
    </div>

    {% include 'itcase_paginator/include/paginator.html' %}
</div>
