{% load itcase_common %}

{% include 'itcase_search/include/quick/quick_search_popup.html' %}

<div class="catalog-menu">
    <div class="catalog-menu__wrapper">
        {% for category in catalog_menu %}
            <div class="catalog-menu__item {% if category in catalog_breadcrumbs %}catalog-menu__item_state_current{% endif %}">
                <a href="{{ category.get_absolute_url }}" class="catalog-menu__item-link"><span>{{ category.name }}</span></a>
            </div>
        {% endfor %}
        {% include 'itcase_search/include/quick/quick_search_button.html' %}
    </div>
</div>
