{% load l10n fb_versions catalog_tags %}

<div class="catalog-item {{ item_class }} {% if product.border %} catalog-item_type_big {% endif %}">
    <div class="catalog-item__inner">
        <div class="catalog-item__inner-left">
            {% if product.get_first_image %}
                <div class="catalog-item__image">
                    <a href="{{ product.get_absolute_url }}" class="catalog-item__image-link">
                        <img src="{% version product.get_first_image.image 'catalog_list_thumb' %}"
                            class="catalog-item__image-image" alt="{{ product.get_first_image.image_description }}" title="" />
                    </a>
                </div>
            {% else %}
                <div class="catalog-item__image catalog-item__image_type_placeholder"></div>
            {% endif %}
        </div>
        <div class="catalog-item__inner-right">
            <div class="catalog-item__category">
                <a href="{{ product.category.get_absolute_url }}" class="catalog-item__category-link">{{ product.category.name }}</a>
            </div>
            <div class="catalog-item__title">
                <a href="{{ product.get_absolute_url }}" class="catalog-item__title-link">{{ product.name }}</a>
            </div>
            <div class="catalog-item__desc">{{ product.short_description }}</div>
            {% with price=product|get_product_actual_price:filter_data_price_query %}
                <div class="catalog-item__price">
                    <div class="catalog-item__price-text">
                        {% if price.price %}
                            {{ price.price|floatformat:'-2' }} Р {% if product.measuring %}/{{ product.measuring }}{% endif %}
                        {% else %}
                            Предзаказ
                        {% endif %}
                    </div>
                    {% if price.old_price %}
                        <div class="catalog-item__price-old">
                            {{ price.old_price|floatformat:'-2' }} Р
                        </div>
                    {% endif %}
                </div>

                <a href="#"
                   class="catalog-item__button {% if product in cart %} catalog-item__button_state_in-cart {% endif %}"
                    data-add-url="{% url 'itcase_cart:cart_add' %}"
                    data-product="{{ price.id }}"
                    data-amount-{{ price.id }}="1">
                    <div class="catalog-item__button-loader">
                        <div class="sk-three-bounce">
                            <div class="sk-child sk-bounce1"></div>
                            <div class="sk-child sk-bounce2"></div>
                            <div class="sk-child sk-bounce3"></div>
                        </div>
                    </div>
                    <div class="catalog-item__button-text">
                        {% if price in cart %}
                            В корзине
                        {% else %}
                            В корзину
                        {% endif %}
                    </div>
                </a>
            {% endwith %}
        </div>
    </div>
</div>
