{% load itcase_common %}

{% if subcategories %}
    <ul class="catalog-group__inner-nested-list">
        {% with limit_slice=":"|add:limit %}
            {% for subcategory in subcategories|slice:limit_slice %}
                <li class="catalog-group__inner-nested-list-item">
                    <a href="{{ subcategory.get_absolute_url }}" class="catalog-group__inner-nested-list-link">
                        {{ subcategory.name }}
                    </a>
                </li>
            {% endfor %}
        {% endwith %}

        {% if hidden_categories_count %}
            <li class="catalog-group__inner-nested-list-count">
                + {{ hidden_categories_count }} {{ hidden_categories_count|choose_plural:"категория,категории,категорий" }}
            </li>
        {% endif %}

        {% with limit_slice=limit|add:":" %}
            {% for subcategory in subcategories|slice:limit_slice %}
                <li class="catalog-group__inner-nested-list-item catalog-group__inner-nested-list-item_type_hidden">
                    <a href="{{ subcategory.get_absolute_url }}" class="catalog-group__inner-nested-list-link">
                        {{ subcategory.name }}
                    </a>
                </li>
            {% endfor %}
        {% endwith %}

    </ul>
{% endif %}
