{% load fb_versions static %}

{% if product.recommend_categories %}
    {% for category in product.recommend_categories.all %}
        <div class="catalog-related">
            <div class="catalog-related__title">{{ category }}</div>
            <div class="catalog-related__wrapper">
                {% for product in category.products.all %}
                    {% with item_class='catalog-related__item catalog-item_type_related' product=product %}
                        {% include './catalog_item.html' %}
                    {% endwith %}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endif %}

{% if product.get_optional_products %}
    <div class="catalog-related">
        {% for optional_products in product.get_optional_products %}
            <div class="catalog-related__title">{{ optional_products.name }}</div>
            <div class="catalog-related__wrapper">
                {% for product in optional_products.products.all %}
                    {% with item_class='catalog-related__item catalog-item_type_related' product=product %}
                        {% include './catalog_item.html' %}
                    {% endwith %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endif %}
