<div class="catalog-group-second">
    <div class="catalog-group-second__wrapper">
        <ul class="catalog-group-second__list">
            {% for subcategory in category.children.all %}
                <li class="catalog-group-second__list-item">
                    <a href="{{ subcategory.get_absolute_url }}" class="catalog-group-second__list-item-link">
                        {{ subcategory.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
