{% load catalog_tags %}

{% if categories_list %}
    <div class="catalog-group {{ class }}">
        {% if title %}
            <div class="catalog-group__title">{{ title }}</div>
        {% endif %}
        <div class="catalog-group__wrapper">
            <ul class="catalog-group__inner-list">
                {% for category in categories_list %}
                    <li class="catalog-group__inner-list-item">
                        <a href="{{ category.get_absolute_url }}" class="catalog-group__inner-list-link">
                            {% if not hide_image %}
                                <span class="catalog-group__inner-list-link-image">
                                    {% if category.image %}
                                        <img src="{{ category.image.url }}" class="catalog-group__inner-list-link-image-image" alt="{{ category.name }}" title="{{ category.name }}">
                                    {% else %}
                                        <span class="catalog-group__inner-list-link-image-placeholder">&nbsp;</span>
                                    {% endif %}
                                </span>
                            {% endif %}
                            <span class="catalog-group__inner-list-link-text">{{ category.name }}</span>
                        </a>
                        {% if limit %}
                            {% catalog_group_hidden category limit=limit %}
                        {% else %}
                            <ul class="catalog-group__inner-nested-list">
                                {% for subcategory in category.children.all %}
                                    <li class="catalog-group__inner-nested-list-item">
                                        <a href="{{ subcategory.get_absolute_url }}" class="catalog-group__inner-nested-list-link">
                                            {{ subcategory.name }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}
