.footer-city {
  display: table;
  margin: 0 0 24px 0;
  &__item {
    @mixin font normal, 12px, 14px, 12px, 14px, var(--font-title);
    color: var(--color-surface-text);
    padding: 0 16px 10px 0;
    display: inline-block;
  }
}
