.footer-banner {
  background: var(--color-primary) url('./../img/blue_bg.png');
  position: relative;
  &__wrapper {
    max-width: var(--max);
    padding: 0 72px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    @media (--mobile) {
      padding: 0 20px;
    }
  }
  &__text {
    max-width: var(--max);
    color: var(--color-thirdly-text);
    padding: 80px 320px 80px 96px;
    margin: 0 auto;
    box-sizing: border-box;
    @mixin font bold, 36px, 72px, 42px, 72px, var(--font-title);
    @media (--mobile) {
      padding: 48px 20px;
    }
    @media (--tablet) {
      padding: 48px 48px;
    }
  }
}
