.footer {
  width: 100%;
  background: var(--color-neutral);
  position: relative;
  z-index: 1;
  &__wrapper {
    max-width: var(--max);
    padding: 32px 32px 48px 32px;
    margin: 0 auto;
    position: relative;
    display: flex;
    box-sizing: border-box;
    @media (--mobile) {
      padding: 24px 16px 40px 16px;
      display: block;
    }
    @media (--tablet) {
      flex-flow: row wrap;
    }
    ^&__left {
      @media (--mobile) {
        padding: 0 0 24px 0;
      }
      @media (--tablet) {
        order: 1;
      }
      ^^&__contact {
        display: flex;
        @media (--mobile) {
          display: block;
        }
        &-phone {
          & p {
            color: var(--color-neutral-text);
            padding: 0;
            margin: 0 0 6px 0;
            @mixin font normal, 16px, 16px, 18px, 24px, var(--font);
            & a {
              color: var(--color-neutral-text);
              text-decoration: none;
            }
          }
        }
        &-address {
          margin: 0 0 0 32px;
          @media (--mobile) {
            margin: 16px 0 0 0;
          }
          & p {
            color: var(--color-neutral-text);
            padding: 0;
            margin: 0 0 6px 0;
            @mixin font normal, 16px, 16px, 18px, 24px, var(--font);
            & a {
              color: var(--color-neutral-text);
              text-decoration: none;
            }
          }
        }
      }
      ^^&__copyright {
        padding: 32px 0 0 0;
        @mixin font normal, 12px, 14px, 12px, 14px, var(--font-title);
      }
    }
    ^&__right {
      margin: 0 0 0 56px;
      display: flex;
      @media (--mobile) {
        margin: 0;
        display: none;
      }
      @media (--tablet) {
        margin: 0;
      }
    }
  }
}
