.catalog-filter-popup {
  width: 100%;
  margin: 0 0 0 8px;
  display: none;
  @media (--mobile), (--tablet) {
    display: block;
  }
  &_state_active {
  }
  &__button {
    color: var(--color-surface-text);
    background: var(--color-surface-active);
    padding: 12px 48px 12px 20px;
    border: solid 1px var(--color-neutral-border);
    position: relative;
    display: block;
    cursor: pointer;
    @mixin font normal, 14px, 20px, 14px, 20px, var(--font);
    &::after {
      width: 12px;
      height: 100%;
      background: url('./../img/icon/filter.svg') no-repeat 50% 50%;
      background-size: contain;
      position: absolute;
      content: '';
      display: block;
      top: 0;
      right: 16px;
    }
  }
}
