.catalog-group__inner {
  &-list {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    @media (--mobile) {
      background: var(--color-neutral);
      padding: 16px;
      display: block;
    }
    &-item {
      background: var(--color-neutral);
      padding: 16px;
      margin: 0 0 40px 0;
      width: 32%;
      box-sizing: border-box;
      @media (--mobile) {
        width: 100%;
        background: var(--color-surface);
        padding: 0;
        margin: 0 0 8px 0;
        border-radius: 4px;
        box-shadow: 0 1px 0 var(--color-surface-shadow);
      }
      &_type_placeholder {
        height: 0;
        font-size: 0;
        visibility: hidden;
        @media (--mobile) {
          margin: 0 !important;
        }
      }
    }
    &-image {
      width: 100%;
      margin: 0 0 20px 0;
      box-sizing: border-box;
      @media (--mobile) {
        margin: 0 0 10px 0;
      }
    }
    &-link {
      width: 100%;
      color: var(--color-neutral-text);
      text-decoration: none;
      position: relative;
      display: block;
      box-sizing: border-box;
      @media (--mobile) {
        padding: 16px;
      }
      &::before {
        width: 32px;
        height: 32px;
        background: var(--color-neutral);
        border-radius: 50%;
        position: absolute;
        content: '';
        display: block;
        top: 12px;
        right: 12px;
      }
      &::after {
        padding: 4px;
        border: solid var(--color-surface-item);
        border-width: 0 2px 2px 0;
        position: absolute;
        content: '';
        top: 23px;
        right: 25px;
        transform: rotate(-45deg);
        display: none;
        @media (--mobile) {
          display: inline-block;
        }
      }
      &:hover {
        & .catalog-group__inner-list-link-text {
          color: var(--color-neutral-text-hover);
        }
      }
      &-image {
        width: 100%;
        position: relative;
        overflow: hidden;
        display: block;
        aspect-ratio: '21:5';
        @media (--mobile) {
          display: none;
        }
        &-image {
          min-width: 100%;
          min-height: 100%;
          position: absolute;
          left: 50% !important;
          top: 50%  !important;
          transform: translate(-50%, -50%);
        }
        &-placeholder {
          width: 100%;
          background: var(--color-surface);
          display: block;
        }
      }
      &-text {
        color: var(--color-surface-text);
        margin: 16px 0 0 0;
        display: block;
        @mixin font 500, 16px, 24px, 22px, 28px, var(--font-title-secondary);
        @media (--mobile) {
          margin: 0;
        }
      }
    }
    ^&-nested-list {
      list-style: none;
      padding: 0;
      margin: 6px 0 0 0;
      @media (--mobile) {
        margin: 0;
        display: none;
      }
      &-item {
        padding: 4px 0;
        &_type_hidden {
          display: none;
        }
      }
      &-count {
        color: var(--color-accent);
        cursor: pointer;
        @mixin font normal, 14px, 16px, 18px, 32px, var(--font);
      }
      &-link {
        color: var(--color-neutral-text);
        text-decoration: none;
        @mixin font normal, 14px, 16px, 18px, 32px, var(--font);
        &:hover {
          color: var(--color-neutral-text-hover);
        }
      }
    }
  }
}

