.catalog-filter-group__title {
  padding: 10px 0 0 0;
  margin: 0 0 10px 0;
  position: relative;
  cursor: pointer;
  @mixin font 500, 16px, 16px, 22px, 22px, var(--font-title-secondary);
  &::after {
    width: 20px;
    height: 20px;
    padding: 5px;
    margin: 3px 0 0 0;
    border-radius: 100px;
    position: absolute;
    content: '';
    display: block;
    top: 50%;
    right: 0;
    z-index: 1;
    transform: translateY(-50%);
    transition: all 0.15s ease-out;
  }
  &::before {
    padding: 3px;
    border: solid var(--color-neutral-text);
    border-width: 0 2px 2px 0;
    position: absolute;
    content: '';
    top: 13px;
    right: 11px;
    transform: rotate(45deg);
    display: inline-block;
    z-index: 2;
  }
  &:hover {
    &::after {
      background: var(--color-neutral-hover);
    }
  }
}
