.popup_question {
  & .form-field__item:nth-child(4),
  & .form-field__item:nth-child(5) {
    & .form-field__item-c1 {
      display: none;
    }
    & .form-field__item-c2 {
      width: auto;
      margin: 0;
      display: block;
    }
  }
}
