.form-checkbox {
  padding: 8px 0 0 0;
  position: relative;
  display: block;
  &__label {
    padding: 5px 0 5px 0;
    position: relative;
    display: block;
    &::after {
      width: 16px;
      height: 16px;
      background: var(--color-white);
      border: solid 1px var(--color-black);
      position: absolute;
      content: '';
      display: block;
      box-sizing: border-box;
      left: 0;
      top: 6px;
      z-index: 1;
    }
  }
  &__checkbox {
    position: absolute;
    visibility: hidden;
    left: 0;
    top: 1px;
    z-index: 3;
  }
  &__name {
    font: 16px/20px var(--font);
    color: var(--color-black);
    text-align: left;
    padding: 0 0 0 24px;
    display: inline-block;
    cursor: pointer;
    & a {
      color: var(--color-black);
      &:hover {
        color: var(--color-red);
      }
    }
  }
}
