
.form-fields .form-field__item,
.content .form-fields .form-field__item {
  &_state_empty {
    & .form-checkbox {
      &__label {
        &::after {
          border: solid 1px var(--color-surface-border);
        }
      }
    }
    & .selectize-input {
      border: solid 1px var(--color-surface-border);
    }
    &.form-field__item_state_valid {
      & .form-field__item-c2 {
        &::before {
          display: none;
        }
      }
      & .form-checkbox {
        &__label {
          &::after {
            border: solid 1px var(--color-surface-border);
          }
        }
      }
    }
  }
}
