
.form-fields .form-field__item,
.content .form-fields .form-field__item {
  &_state_error {
    & .form-checkbox {
      &__label {
        &::after {
          border: solid 1px var(--color-accent-border);
        }
      }
    }
    & .form-radioselect-item {
      &__label {
        &::after {
          border: solid 1px var(--color-accent-border);
        }
      }
    }
    & .selectize-input {
      border: solid 1px var(--color-accent-border);
    }
    & .form-field__item-c2 {
      &::after {
        width: 16px;
        height: 16px;
        background: url('./../img/icon/close_white.svg');
        position: absolute;
        content: '';
        display: block;
        top: 17px;
        right: 20px;
        z-index: 2;
        opacity: 0.9;
      }
      &::before {
        width: 24px;
        height: 24px;
        background: var(--color-accent-border);
        border-radius: 50%;
        position: absolute;
        content: '';
        display: block;
        top: 13px;
        right: 16px;
        z-index: 1;
      }
    }
  }
}
