.form-field__item {
  &_state_in-group {
    & .form-field-message {
      display: block !important;
      &_type-valid {
        display: none !important;
      }
    }
    & .form-field__item-hint {
      display: none !important;
    }
  }
}
