.form-fields .form-field__item {
  width: 100%;
  position: relative;
  @media (--mobile), (--tablet) {
    padding: 0 0 10px 0;
    display: block;
  }
  &::before {
    content: ' ';
    display: none !important;
  }
  &::after {
    content: ' ';
    display: none !important;
  }
  &-c1 {
    width: 100%;
    position: relative;
    box-sizing: border-box;
    vertical-align: top;
    @media (--mobile), (--tablet) {
      padding: 0 0 10px 0;
      display: block;
    }
  }
  &-name {
    color: var(--color-surface-text);
    padding: 8px 0 0 0;
    display: block;
    @mixin font normal, 16px, 16px, 18px, 24px, var(--font);
  }
  &-required {
    font: 16px var(--font);
    color: orange;
  }
  &-label {
    width: 100%;
    &-text {
      font: 12px var(--font);
      color: #444;
    }
  }
  &-c2 {
    width: 100%;
    margin: 8px 0 24px 0;
    position: relative;
    box-sizing: border-box;
    @media (--mobile), (--tablet) {
      margin: 0;
      display: block;
    }
    &_state_full {
      width: 100%;
    }
  }
  &-error {
    font: 12px var(--font);
    color: red;
    padding: 4px 0 0 0;
  }
}
