.form-fields .form-field__item,
.content .form-fields .form-field__item {
  &-hint {
    font: 13px/20px var(--font);
    color: #000;
    text-align: center;
    white-space: nowrap;
    background: #eee;
    padding: 0 12px 3px 12px;
    border: solid 1px #ccc;
    border-radius: 10px;
    position: absolute;
    display: none;
    left: 50%;
    top: -23px;
    transform: translate(-50%, 0);
    & a {
      color: #369;
    }
    &-link {
      color: #369;
    }
  }
}
