.form-field-message {
  color: #000;
  text-align: center;
  white-space: nowrap;
  background: #eee;
  padding: 0 12px 3px 12px;
  border-radius: 10px;
  position: absolute;
  display: none;
  left: 50%;
  bottom: -11px;
  transform: translate(-50%, 0);
  @mixin font normal, 14px, 16px, 20px, 24px, var(--font);
  @media (--mobile) {
    font: 12px var(--font);
    margin: 10px 0 0 0;
  }
  &_type-error {
    color: var(--color-accent-text);
    background: var(--color-accent);
  }
}

div.form-field-message_type-valid {
  display: none !important;
}
