input.form-field-error {
  border: none !important;
  &:focus {
    border: none !important;
  }
}

textarea.form-field-error {
  border: none !important;
  &:focus {
    border: none !important;
  }
}
