.cart-list__item {
  width: 100%;
  min-height: 60px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  @media print {
    display: table;
  }
  @media (--mobile) {
    padding: 0 30px 0 0;
    margin: 0 0 20px 0;
  }
  &_state_deleted {
    min-height: 0;
    max-height: 200px;
    overflow: hidden;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: cartItemDeleted;
  }
  &-image {
    width: 80px;
    min-height: 80px;
    text-align: center;
    margin: 0 0 20px 0;
    @media print {
      float: none;
      display: table-cell;
    }
    @media (--mobile) {
      width: 60px;
      min-height: 0;
      margin: 0;
      position: absolute;
      left: 0;
      top: 0;
    }
    &-link {
      display: inline-block;
    }
    &-image {
      vertical-align: bottom;
    }
  }
  &-info {
    width: 50%;
    margin: 0 0 0 30px;
    flex-grow: 1;
    @media print {
      float: none;
      display: table-cell;
    }
    @media (--mobile) {
      width: 100%;
      margin: 0 40px 0 80px;
    }
    @media (--mobile-large), (--mobile-huge) {
      width: 35%;
      margin: 0 0 0 80px;
    }
    @media (--tablet), (--desktop-small), (--desktop-medium) {
      width: 35%;
    }
    &-title {
      @mixin font bold, 14px, 18px, 24px, 18px, var(--font-title-secondary);
      color: var(--color-neutral-text);
      display: inline-block;
      &:hover {
        color: var(--color-neutral-text-hover);
      }
    }
    &-param {
      &-item {
        padding: 4px 0;
        @mixin font normal, 14px, 18px, 14px, 18px, var(--font-title-secondary);
        color: var(--color-neutral-text);
      }
    }
    &-state {
      &-text {
        @mixin font normal, 14px, 18px, 14px, 18px, var(--font-title-secondary);
        color: var(--color-primary-text);
        background: var(--color-primary);
        padding: 6px 16px;
        margin: 12px 0 0 0;
        display: inline-block;
      }
      &_exist {
        @media (--mobile) {
          display: none;
        }
        & .cart-list__item-info-state-text {
          background: var(--color-orange);
        }
      }
    }
  }
  &-count {
    width: 180px;
    margin: -8px 30px 0 30px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: flex-start;
    @media print {
      width: 200px;
      margin: 0;
      float: none;
      display: table-cell;
    }
    @media (--mobile) {
      width: 100%;
      margin: 0 0 0 80px;
      order: 2;
    }
    @media (--mobile-medium), (--mobile-standart) {
      margin: 0 150px 0 80px;
    }
    @media (--mobile-large), (--mobile-huge) {
      margin: 0 0 0 10px;
      order: 0;
      top: -5px;
    }
    &-button {
      width: 24px;
      height: 24px;
      position: relative;
      display: block;
      flex: 0 0 auto;
      cursor: pointer;
      &_state_added {
        animation-duration: 0.5s;
        animation-fill-mode: both;
        animation-name: catalogItemAdded;
      }
      &_action {
        &_minus {
          background: var(--color-primary);
          margin: 0 10px 0 0;
          &::before {
            width: 13px;
            height: 2px;
            background: var(--color-primary-text);
            position: absolute;
            content: '';
            display: block;
            left: 6px;
            top: 11px;
          }
          &:hover {
            background: var(--color-primary-hover);
          }
        }
        &_plus {
          background: var(--color-primary);
          margin: 0 0 0 10px;
          &:hover {
            background: var(--color-primary-hover);
          }
          &::before {
            width: 13px;
            height: 2px;
            background: var(--color-primary-text);
            position: absolute;
            content: '';
            display: block;
            left: 6px;
            top: 11px;
          }
          &::after {
            width: 13px;
            height: 2px;
            background: var(--color-primary-text);
            position: absolute;
            content: '';
            display: block;
            left: 6px;
            top: 11px;
            transform: rotate(90deg);
          }
        }
      }
    }
    &-value {
      @mixin font normal, 14px, 18px, 4px, 18px, var(--font-title-secondary);
      color: var(--color-surface-text);
      text-align: right;
      padding: 5px 0 0 0;
      position: relative;
      @media print {
        padding: 0 50px 0 0;
      }
      &::after {
        font: 300 24px/22px var(--font);
        color: #757575;
        position: absolute;
        content: 'x';
        top: 3px;
        right: -30px;
        @media print {
          top: -2px;
          right: 15px;
        }
      }
    }
    &-input {
      width: 50%;
      min-width: 52px;
      font: 18px/16px var(--font);
      color: var(--color-surface-text);
      text-align: center;
      padding: 8px 0 6px 0;
      margin: 0;
      border: solid 1px #979797;
      display: inline-block;
      &:focus {
        outline: 0;
      }
    }
  }
  &-cost {
    width: 250px;
    @mixin font bold, 14px, 18px, 24px, 18px, var(--font-title-secondary);
    color: var(--color-surface-text);
    position: relative;
    padding: 0 0 0 40px;
    box-sizing: border-box;
    @media print {
      display: table-cell;
    }
    @media (--mobile) {
      margin: 5px 0 10px 30px;
      order: 1;
    }
    @media (--mobile-large), (--mobile-huge) {
      margin: 0 0 10px 30px;
    }
    &-second {
      font: 14px/12px var(--font);
      color: var(--color-surface-text);
      padding: 5px 0 0 0;
    }
  }
  &-action {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    right: 0;
    @media print {
      display: none;
    }
    @media (--mobile) {
      padding: 0;
    }
    @media (--mobile-large), (--mobile-huge) {
      padding: 5px 0 0 0;
    }
    &-link {
      width: 20px;
      height: 20px;
      font: 14px var(--font);
      color: var(--color-surface-text);
      position: relative;
      display: inline-block;
      transition: transform 0.1s ease-in-out;
      text-decoration: none;
      &:hover {
        transform: scale(1.6);
      }
      &::before {
        width: 15px;
        height: 2px;
        background: var(--color-surface-text);
        position: absolute;
        content: '';
        display: block;
        top: 10px;
        right: 0;
        transform: rotate(-45deg);
      }
      &::after {
        width: 15px;
        height: 2px;
        background: var(--color-surface-text);
        position: absolute;
        content: '';
        display: block;
        top: 10px;
        right: 0;
        transform: rotate(45deg);
      }
    }
  }
}

@keyframes catalogItemAdded {
  from {
    left: 0;
  }
  to {
    left: 200;
  }
}

@keyframes cartItemDeleted {
  from {
    max-height: 1000px;
  }
  to {
    max-height: 0;
  }
}
