.cart-list {
  @media (--mobile) {
    margin: 0 0 20px 0;
  }
  &-sum {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    @media (--mobile) {
      display: block;
    }
    &__inner {
      @media (--mobile) {
        width: auto;
      }
      ^&__title {
        color: var(--color-surface-text);
        text-align: left;
        @mixin font normal, 14px, 18px, 14px, 18px, var(--font-title-secondary);
      }
      ^&__amount {
        color: var(--color-accent);
        text-align: left;
        margin: 0 10px 10px 0;
        margin: 8px 0 0 0;
        @mixin font bold, 14px, 36px, 18px, 36px, var(--font-title-secondary);
      }
    }
  }
}
