.catalog-menu-popup {
  width: 100%;
  height: 0;
  background: var(--color-neutral);
  padding: 16px 0 40px 0;
  position: absolute;
  visibility: hidden;
  box-shadow: 0 5px 40px -20px var(--color-neutral-shadow);
  left: 0;
  top: 100%;
  z-index: 1000;
  z-index: 10;
  transform: translate(0, 10px);
  animation: all 0.4s cubic-bezier(0.21, 1.03, 0.7, 1) 0.3s both;
  @media (--mobile) {
    padding: 0;
  }
  &_state_visible {
    height: auto;
    margin: 0;
    visibility: visible;
    animation-name: catalogMenuFadeIn;
  }
  &_state_hidden {
    height: auto;
    animation-name: catalogMenuFadeOut;
  }
  & .catalog-group {
    &__inner-list {
      &-link {
        &-text {
          margin: 0;
        }
      }
      &-item {
        margin: 0;
        flex: 0 0 25%;
      }
    }
  }
}

@keyframes catalogMenuFadeIn {
  from {
    transform: translate(0, 10px);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes catalogMenuFadeOut {
  from {
    transform: translate(0, 0);
    opacity: 1;
  }
  to {
    transform: translate(0, 10px);
    opacity: 0;
  }
}
