.catalog-menu {
  width: 100%;
  background: var(--color-primary);
  position: relative;
  box-sizing: border-box;
  z-index: 10;
  & .catalog-menu-popup {
    @media (--mobile) {
      display: none;
    }
  }
  @media (--mobile) {
    background: none;
    margin: 0;
  }
  &__wrapper {
    width: 100%;
    max-width: var(--max);
    margin: 0 auto;
    position: relative;
    display: flex;
    box-sizing: border-box;
    @media (--mobile) {
      display: none;
    }
    @media (--tablet) {
      overflow-y: scroll;
    }
    &::after {
      width: 48px;
      content: '';
      display: block;
    }
    ^&__item {
      position: relative;
      flex: 1 1 auto;
      &_state_current {
        & .catalog-menu__item-link {
          background: var(--color-primary-hover);
        }
      }
      &_type_popup {
        &::after {
          padding: 3px;
          border: solid var(--color-primary-item);
          border-width: 0 2px 2px 0;
          position: absolute;
          content: '';
          display: inline-block;
          top: 22px;
          right: 17px;
          transform: rotate(45deg);
        }
        & .catalog-menu__item-link {
          padding: 16px 24px 16px 8px;
        }
      }
      &-link {
        color: var(--color-primary-text);
        text-decoration: none;
        text-align: center;
        white-space: nowrap;
        padding: 16px 8px;
        display: block;
        transition: all 0.2s ease-in-out;
        @mixin font normal, 16px, 16px, 22px, 22px, var(--font-title-secondary);
        &:hover {
          background: var(--color-primary-hover);
        }
      }
    }
  }
}
