.rotator-item {
  display: flex;
  height: auto !important;
  aspect-ratio: '21:5';
  @media (--mobile) {
    aspect-ratio: '14:9';
  }
  &__link {
    width: 100%;
    height: 100%;
    font-size: 0;
    text-decoration: none;
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    z-index: 3;
    opacity: 0;
  }
  &__image {
    position: relative;
    z-index: 1;
  }
  &__text {
    & h1 {
      @mixin font bold, 18px, 48px, 18px, 48px, var(--font-title);
      margin: 0;
      padding: 0 0 4px 0;
      color: var(--color-surface-text);
      @media (--mobile) {
        color: var(--color-primary-text);
      }
    }
    & h5 {
      display: inline-block;
      @mixin font bold, 14px, 36px, 18px, 36px, var(--font-title-secondary);
      margin: 16px 0 0 0;
      padding: 8px 28px;
      background: var(--color-primary);
      color: var(--color-primary-text);
      @media (--mobile) {
        padding: 8px 16px;
        background: var(--color-secondary);
        color: var(--color-secondary-text);
      }
    }
    & p {
      width: 100%;
      @mixin font normal, 14px, 28px, 18px, 32px, var(--font);
      margin: 0;
      padding: 0;
      color: var(--color-surface-text);
      @media (--mobile) {
        color: var(--color-primary-text);
      }
    }
  }
}
