{% load catalog_tags itcase_common compress fb_versions itcase_rotator_tags itcase_cart_tags static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>
        {% block title %}
            {% if request.page.seo_title %}
                {{ request.page.seo_title }}
            {% else %}
                {{ request.page.title }}
            {% endif %}
        {% endblock title %}
        {% if request.site.name and not request.page.path == '/' %}
            | {{ request.site.name }}
        {% endif %}
    </title>

    {% block meta %}
        <meta name="description" content="{{ cur_page.seo_description|default:""|safe }}" />
        <meta name="keywords" content="{{ cur_page.seo_keywords|default:""|safe }}" />
        {% if request.page.seo_other %}
            {{ request.page.seo_other|safe }}
        {% endif %}
    {% endblock %}

    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="/favicon-16x16.png" sizes="16x16" rel="icon" type="image/png" />
    <link href="/favicon-32x32.png" sizes="32x32" rel="icon" type="image/png" />
    <link href="/apple-touch-icon.png" sizes="180x180" rel="apple-touch-icon" />
    <link href="/site.webmanifest" rel="manifest" />
    <link href="/safari-pinned-tab.svg" color="#5bbad5" rel="mask-icon" />
    <meta name="msapplication-TileColor" content="#2d89ef" />
    <meta name="theme-color" content="#ffffff" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% if site_domain in request.get_host %}
        <meta name="robots" content="index,follow" />
        <meta name="yandex-verification" content="5f5e6a08bb112b5a" />
        <meta name="google-site-verification" content="7EE5hPqbsFQvY8PzFQpExdW12fBzHS1iFq7pSOgrU7I" />
        {{ request.infoblock.additional_meta|default:""|safe }}
    {% else %}
        <meta name="robots" content="none" />
    {% endif %}

    {% compress css %}
        <link href="{% static 'itcase_common/css/__common.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'itcase_cart/css/__cart.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'itcase_catalog/css/__catalog.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'itcase_entry/css/__entry.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'itcase_feed/css/__feed.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'itcase_files/css/__files.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'itcase_pages/css/__pages.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'itcase_paginator/css/__paginator.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'itcase_rotator/css/__rotator.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'itcase_search/css/__search.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'itcase_logos/css/__logos.css' %}" rel="stylesheet" type="text/css" />

        <link href="{% static 'css/__main.css' %}" rel="stylesheet" type="text/css" />
    {% endcompress %}

    <noscript>
        <link href="{% static 'css/no-js.css' %}" rel="stylesheet" type="text/css" />
    </noscript>

    {% compress js %}
        <script src="{% static 'js/__build/__libs.js' %}"></script>
    {% endcompress %}

    {% compress css %}
        {% block extra_css %}
        {% endblock extra_css %}
    {% endcompress %}

    {% compress js %}
        {% block extra_js_head %}
        {% endblock extra_js_head %}
    {% endcompress %}
</head>

<body>
    {% csrf_token %}

    {% include 'itcase_common/include/cookies_warning.html' %}

    {% block popup %}
        {% include 'itcase_common/include/popup.html' %}
    {% endblock popup %}

    <div class="fader">&nbsp;</div>

    {% with show_close=True %}
        {% include 'itcase_pages/include/site_menu_popup.html' %}
    {% endwith %}

    {% if request.infoblock.global_message %}
        <div class="global-message">
            <div class="global-message__wrapper">
                {{ request.infoblock.global_message|default:""|safe }}
            </div>
        </div>
    {% endif %}

    <div class="header" data-sticky-static="true">
        <div class="header__wrapper">
            <div class="header__inner">
                <div class="header__hamburger">
                    {% with hide_text=True %}
                        {% include 'itcase_pages/include/site_menu.html' %}
                    {% endwith %}
                </div>
                <div class="header__search">
                    {% with class='header__search-link' link=True %}
                        {% include 'itcase_search/include/quick/quick_search_button.html' %}
                    {% endwith %}
                </div>
                <div class="header__contact">
                    <a href="{% url 'form_detail' slug='callback' %}"
                       data-yandex-target="YANDEX_CALLBACK"
                       data-yandex-target-submit="YANDEX_CALLBACK_SUBMIT"
                       class="header__contact-button button_action_callback {{ additional_class }} {% if site_version == 'desktop' %}forms_ajax{% endif %}"
                       data-popup-type-class="entry-popup"
                       data-show-form-header="false"
                       data-show-form-footer="false"
                       data-form-validatior-options='{"disableSubmitButton": false}'
                       data-require-group-fields="phone,email"
                       data-show-required-block="false"
                       data-form-additional-class="form_type_hide_messages">
                    </a>
                </div>
                <div class="header__logo">
                    <div class="logo">
                        <a href="/" class="logo__link">
                            <img src="{% static 'img/logo.png' %}" class="logo__link-image" alt="{{ request.site.name }}" title="{{ request.site.name }}" />
                        </a>
                    </div>
                </div>
                <div class="header__button">
                    <a href="{% url 'form_detail' slug='request-cost' %}"
                       data-yandex-target="YANDEX_REQUEST_COST"
                       data-yandex-target-submit="YANDEX_REQUEST_COST_SUBMIT"
                       class="button button_type_neutral button_action_cost {{ additional_class }} {% if site_version == 'desktop' %}forms_ajax{% endif %}"
                       data-popup-type-class="entry-popup"
                       data-show-form-header="false"
                       data-show-form-footer="false"
                       data-form-validatior-options='{"disableSubmitButton": false}'
                       data-require-group-fields="phone,email"
                       data-show-required-block="false"
                       data-form-additional-class="form_type_hide_messages">
                        <span class="button__text">Расчет материалов</span>
                    </a>
                </div>
                <div class="header__cart">
                    {% with cart_empty_text='Заказ' %}
                        {% cart_state %}
                    {% endwith %}
                </div>
                <div class="header__menu">
                    <div class="main-menu {% if request.page.url == '/' %}main-menu_type_main-page{% endif %}">
                        <div class="main-menu-list">
                            {% for item in header_menu %}
                                <div class="main-menu-list__item {% if request.path|startswith:item.get_absolute_url %}main-menu-list__item_state_current {% endif %}">
                                    <a href="{{ item.get_absolute_url }}" class="main-menu-list__item-link" {% if item.in_new_tab %} target="_blank" {% endif %}>{{ item.title }}</a>
                                </div>
                            {% endfor %}
                            <div class="main-menu-list__item">
                                <a href="{% url 'form_detail' slug='request-cost' %}"
                                   data-yandex-target="YANDEX_REQUEST_COST"
                                   data-yandex-target-submit="YANDEX_REQUEST_COST_SUBMIT"
                                   class="main-menu-list__item-link {% if site_version == 'desktop' %}forms_ajax{% endif %}"
                                   data-popup-type-class="entry-popup"
                                   data-show-form-header="false"
                                   data-show-form-footer="false"
                                   data-form-validatior-options='{"disableSubmitButton": false}'
                                   data-require-group-fields="phone,email"
                                   data-show-required-block="false"
                                   data-form-additional-class="form_type_hide_messages">
                                    <span class="button__text">Расчет материалов</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="header__phone">{{ request.infoblock.header_phone|default:""|safe }}</div>
                    <div class="header__callback">
                        <a href="{% url 'form_detail' slug='callback' %}"
                           data-yandex-target="YANDEX_CALLBACK"
                           data-yandex-target-submit="YANDEX_CALLBACK_SUBMIT"
                           class="{% if site_version == 'desktop' %}forms_ajax{% endif %}"
                           data-popup-type-class="entry-popup"
                           data-show-form-header="false"
                           data-show-form-footer="false"
                           data-form-validatior-options='{"disableSubmitButton": false}'
                           data-require-group-fields="phone,email"
                           data-show-required-block="false"
                           data-form-additional-class="form_type_hide_messages">
                            Обратный звонок
                        </a>
                    </div>
                </div>
            </div>
            {% with hide_image=True close=True %}
                {% catalog_menu %}
            {% endwith %}
        </div>
    </div>

    {% with hide_pagination=True background=False %}
        {% rotator page=request.page %}
    {% endwith %}

    {% block content %}
    {% endblock content %}

    <div class="wrapper__item">&nbsp;</div>

    <footer class="footer">
        <div class="footer__wrapper">
            <div class="footer__left">
                <div class="footer__form"></div>
                <div class="footer__contact">
                    <div class="footer__contact-phone">
                        {{ request.infoblock.footer_phone|default:""|safe }}
                    </div>
                    <div class="footer__contact-address">
                         {{ request.infoblock.footer_address|default:""|safe }}
                    </div>
                </div>
                <div class="footer__copyright">&copy; 2010-2020 ПрофСтройТорг</div>
            </div>
            <div class="footer__right">
                <div class="footer-menu">
                     {% catalog_menu_footer %}
                </div>
                <div class="footer-menu">
                    {% for item in footer_menu %}
                        <div class="footer-menu__item">
                            <a href="{{ item.get_absolute_url }}" class="footer-menu__item-link"
                              {{ item.in_new_tab|yesno:'target=_blank,' }}>
                                {{ item.name }}
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </footer>

    {% include 'itcase_common/include/cookies.html' %}

    {% compress js %}
        <script src="{% static 'itcase_common/js/__build/__common-main.js' %}" type="text/javascript"></script>
        <script src="{% static 'itcase_gallery/js/__build/__gallery-main.js' %}" type="text/javascript"></script>
        <script src="{% static 'itcase_entry/js/__build/__entry-main.js' %}" type="text/javascript"></script>
        <script src="{% static 'itcase_cart/js/__build/__cart-main.js' %}" type="text/javascript"></script>
        <script src="{% static 'itcase_files/js/__build/__files-main.js' %}" type="text/javascript"></script>
        <script src="{% static 'itcase_pages/js/__build/__pages-main.js' %}" type="text/javascript"></script>
        <script src="{% static 'itcase_rotator/js/__build/__rotator-main.js' %}" type="text/javascript"></script>
        <script src="{% static 'itcase_logos/js/__build/__logos-main.js' %}" type="text/javascript"></script>
        <script src="{% static 'itcase_search/js/__build/__search-main.js' %}" type="text/javascript"></script>

        <script src="{% static 'js/__build/__main.js' %}" type="text/javascript"></script>

        {% block extra_js %}
        {% endblock extra_js %}
    {% endcompress %}

    {% if site_domain in request.get_host %}
        {{ request.infoblock.google_analytics|default:""|safe }}
        {{ request.infoblock.yandex_metrika|default:""|safe }}
        {{ request.infoblock.additional_scripts|default:""|safe }}
    {% endif %}
</body>
</html>
