.catalog-related {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  @media (--mobile), (--tablet) {
    margin: 20px 0 0 0;
  }
  &__wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    @media (--mobile), (--tablet) {
      overflow: scroll;
      flex-wrap: nowrap;
      &::before {
        border: solid 15px transparent;
        content: '';
        display: inline-block;
      }
      &::after {
        border: solid 15px transparent;
        content: '';
        display: inline-block;
      }
    }
  }
  &__title {
    width: 100%;
    position: relative;
    @mixin font 500, 18px, 42px, 24px, 48px, var(--font-title-secondary);
    margin: 0 0 24px 0;
    @media (--mobile) {
      padding: 0 20px;
    }
  }
  &__item {
    width: calc(25% - 32px);
    flex: 0 0 auto;
    margin: 0 32px 32px 0;
    @media (--mobile), (--tablet) {
      width: auto;
      width: 240px;
    }
  }
}
