
.catalog-group__inner {
  &-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media (--mobile) {
      margin: 0 15px;
    }
    &-item {
      width: 30%;
      padding: 0;
      margin: 0 0 35px 0;
      @media (--mobile) {
        width: 100%;
        margin: 0 0 25px 0;
      }
      @media (--mobile-large), (--mobile-huge) {
        width: 48%;
      }
      &_type_placeholder {
        height: 0;
        font-size: 0;
        visibility: hidden;
      }
    }
    &-image {
      width: 100%;
      margin: 0 0 20px 0;
      box-sizing: border-box;
      @media (--mobile) {
        margin: 0 0 10px 0;
      }
      @media (--mobile-medium), (--mobile-standart) {
        padding: 0 50px 0 0;
      }
    }
    &-link {
      text-decoration: none;
      &:hover {
        .catalog-group__inner-list-link-text {
          color: var(--color-orange);
        }
      }
      &-image {
        margin: 0 0 10px 0;
        vertical-align: bottom;
        @media (--mobile), (--tablet) {
          width: 100%;
        }
        &_type_placeholder {
          width: 100%;
          height: 140px;
          background: var(--color-light-gray);
        }
      }
      &-text {
        font: 500 20px/26px var(--font);
        color: var(--color-black);
        text-decoration: underline;
        display: block;
        @media (--mobile) {
          font: 500 18px/26px var(--font);
          text-decoration: none;
          display: block;
        }
      }
    }
    ^&-nested-list {
      list-style: none;
      padding: 0;
      margin: 10px 0 0 0;
      @media (--mobile) {
        margin: 0;
      }
      &-item {
      }
      &-link {
        font: 14px/30px var(--font);
        color: var(--color-blue);
        @media (--mobile) {
          text-decoration: none;
        }
        &:hover {
          color: var(--color-orange);
        }
        @media (--mobile) {
          font: 14px/24px var(--font);
        }
      }
    }
  }
}
