.catalog-sort {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: -56px 0 24px 0;
  position: relative;
  &__group {
    margin: 0 40px 24px 0;
    display: flex;
    align-items: center;
    &:first-child {
      flex: 1;
    }
    &:last-child {
      margin: 0 0 16px 0;
    }
    &-item {
      @mixin font normal, 14px, 16px, 14px, 16px, var(--font-title-secondary);
      color: var(--color-black);
      text-decoration: none;
      margin: 0 20px 0 0;
      position: relative;
      display: block;
      transition: all 0.15s ease-out;
      &:hover {
        color: var(--color-orange);
      }
      &_state_current {
        color: var(--color-blue);
        &:hover {
          color: var(--color-orange);
        }
      }
      &_sort {
        &_asc,
        &_desc {
          &::after {
            width: 12px;
            height: 10px;
            color: var(--color-black);
            position: absolute;
            content: '';
            display: inline-block;
            top: 7px;
            right: -16px;
          }
        }
        &_asc {
          &::after {
            background: url('./../img/icons/arrow_down_black.svg') no-repeat 50% 50%;
            background-size: contain;
          }
        }
        &_desc {
          &::after {
            background: url('./../img/icons/arrow_up_black.svg') no-repeat 50% 50%;
            background-size: contain;
          }
        }
      }
    }
  }
}
