.catalog-item-detail {
  margin: 0 30px 70px 0;
  box-sizing: border-box;
  @media (--mobile), (--tablet) {
    padding: 0 15px;
    margin: 0 0 20px 0;
  }
  &__wrapper {
    display: flex;
  }
  &__left {
    width: 400px;
    ^&__gallery {
      position: relative;
    }
  }
  &__right {
    box-sizing: border-box;
    flex: 1;
    margin: 0 0 0 56px;
    @media (--mobile) {
      width: 100%;
      margin: 0;
      float: none;
    }
  }
  &__info  {
    width: 100%;
    display: flex;
  }
  &__price {
    @mixin font bold, 14px, 32px, 18px, 32px, var(--font-title-secondary);
  }
  &__count {
    width: 120px;
    margin: 0 30px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: flex-start;
    @media print {
      width: 200px;
      margin: 0;
      float: none;
      display: table-cell;
    }
    @media (--mobile) {
      width: 100%;
      margin: 0 0 0 80px;
      order: 2;
    }
    @media (--mobile-medium), (--mobile-standart) {
      margin: 0 150px 0 80px;
    }
    @media (--mobile-large), (--mobile-huge) {
      margin: 0 0 0 10px;
      order: 0;
      top: -5px;
    }
    &-button {
      width: 24px;
      height: 24px;
      position: relative;
      display: block;
      flex: 0 0 auto;
      cursor: pointer;
      &_state_added {
        animation-duration: 0.5s;
        animation-fill-mode: both;
        animation-name: catalogItemAdded;
      }
      &_action {
        &_minus {
          background: var(--color-primary);
          margin: 0 10px 0 0;
          &::before {
            width: 13px;
            height: 2px;
            background: #fff;
            position: absolute;
            content: '';
            display: block;
            left: 6px;
            top: 11px;
          }
          &:hover {
            background: #000;
          }
        }
        &_plus {
          background: var(--color-primary);
          margin: 0 0 0 10px;
          &:hover {
            background: #000;
          }
          &::before {
            width: 13px;
            height: 2px;
            background: #fff;
            position: absolute;
            content: '';
            display: block;
            left: 6px;
            top: 11px;
          }
          &::after {
            width: 13px;
            height: 2px;
            background: #fff;
            position: absolute;
            content: '';
            display: block;
            left: 6px;
            top: 11px;
            transform: rotate(90deg);
          }
        }
      }
    }
    &-value {
      font: 500 24px/22px var(--font);
      color: #000;
      text-align: right;
      padding: 5px 0 0 0;
      position: relative;
      @media print {
        padding: 0 50px 0 0;
      }
      &::after {
        font: 300 24px/22px var(--font);
        color: #757575;
        position: absolute;
        content: 'x';
        top: 3px;
        right: -30px;
        @media print {
          top: -2px;
          right: 15px;
        }
      }
    }
    &-input {
      width: 50%;
      min-width: 52px;
      font: 18px/16px var(--font);
      color: #000;
      text-align: center;
      padding: 8px 0 6px 0;
      margin: 0;
      border: solid 1px #979797;
      display: inline-block;
      &:focus {
        outline: 0;
      }
    }
  }
  &__param {
    display: flex;
    flex-flow: row wrap;
    &-group {
      background: var(--color-neutral);
      margin: 0 24px 0 0;
      padding: 16px 32px 16px 16px;
      ^&-title {
        @mixin font 500, 14px, 16px, 18px, 24px, var(--font-title-secondary);
        padding: 0 0 8px 0;
      }
      ^&-item {
        display: flex;
        &-input {
          color: var(--color-surface-text);
        }
        &-text {
          @mixin font normal, 14px, 16px, 18px, 24px, var(--font-title-secondary);
          color: var(--color-surface-text);
        }
      }
    }
  }
  &__tabs {
    width: 100%;
    &-list {
      display: flex;
      background: var(--color-neutral);
      &-item {
        max-width: 25%;
        @mixin font 500, 16px, 18px, 24px, 24px, var(--font-title-secondary);
        flex: 1;
        padding: 16px;
        background: var(--color-neutral);
        cursor: pointer;
        &:hover {
          background: var(--color-neutral-hover);
        }
      }
    }
    &-content {
      display: none;
      padding: 16px 0 0 16px;
    }
  }
}
