.catalog-menu {
  width: 100%;
  background: var(--color-primary);
  position: relative;
  box-sizing: border-box;
  z-index: 10;
  margin: 0 0 32px 0;
  @media (--mobile), (--tablet) {
    display: none;
  }
  &__wrapper {
    width: 100%;
    max-width: var(--max);
    margin: 0 auto;
    position: relative;
    display: flex;
    box-sizing: border-box;
    ^&__item {
      flex: 1 1 auto;
      position: relative;
      &_type_search {
        background: url('./../img/icon/search.svg') no-repeat 50% 50%;
        padding: 16px;
        cursor: pointer;
        &:hover {
          background-color: var(--color-primary-hover);
        }
      }
      &_type_popup {
        & .catalog-menu__item-link {
          padding: 16px 24px 16px 8px;
        }
        &::after {
          padding: 3px;
          border: solid var(--color-primary-item);
          border-width: 0 2px 2px 0;
          position: absolute;
          content: '';
          top: 22px;
          right: 17px;
          transform: rotate(45deg);
          display: inline-block;
        }
      }
      &-link {
        color: var(--color-primary-text);
        text-decoration: none;
        text-align: center;
        white-space: nowrap;
        padding: 16px 8px;
        display: block;
        @mixin font normal, 16px, 16px, 22px, 22px, var(--font-title-secondary);
        &:hover {
          background: var(--color-primary-hover);
        }
      }
    }
  }
}
