.catalog-group {
  width: 100%;
  margin: 0 0 40px 0;
  clear: both;
  position: relative;
  @media (--mobile) {
    margin: 0;
  }
  @media (--tablet) {
    margin: 0 15px;
  }
  @media (--desktop-small), (--desktop-medium) {
    margin: 0;
  }
  &__title {
    color: var(--color-neutral-text);
    margin: 0 0 24px 0;
    @mixin font normal, 14px, 32px, 18px, 44px, var(--font-title);
  }
  &__sort {
    @media (--mobile) {
      display: none;
    }
  }
  &__inner {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    &-left {
      width: 300px;
      &-inner {
        margin: 0 32px 0 0;
      }
    }
    &-right {
      flex: 1;
      &-inner {
      }
    }
  }
}
