.catalog-filter {
  width: 100%;
  background: var(--color-neutral);
  padding: 24px;
  box-sizing: border-box;
  @media (--mobile) {
    height: 100%;
    padding: 45px 20px 110px 20px;
    position: relative;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    z-index: 100;
    transform: translateX(100%);
    overflow-y: scroll;
  }
  &_state_visible.catalog-filter {
    animation: catalogFilterAnimationShow 0.5s cubic-bezier(0.19, 1, 0.22, 1) both;
  }
  &_state_hidden.catalog-filter {
    animation: catalogFilterAnimationHide 0.5s cubic-bezier(0.19, 1, 0.22, 1) both;
  }
  &__clear.button {
    padding: 15px 17px 13px 17px;
    margin: 15px 0 0 0;
    display: block;
  }
  &__button {
    width: 100%;
    text-align: center;
    &-item {
      width: 100%;
      border: 0 solid;
    }
  }
  &-group {
    &_state_level {
      & .catalog-filter-group__list-item-text {
        color: var(--color-blue);
      }
    }
    &_state_close {
      & .catalog-filter-group__title {
        &::after {
          background: url('./../img/icons/arrow_up_black.svg') no-repeat 50% 50%;
        }
      }
    }
    &_state_open {
      & .catalog-filter-group__title {
        &::before {
          top: 17px;
          transform: rotate(-135deg);
        }
      }
    }
    &__title {
      padding: 10px 0 0 0;
      margin: 0 0 10px 0;
      position: relative;
      cursor: pointer;
      @mixin font 500, 16px, 16px, 22px, 22px, var(--font-title-secondary);
      &::after {
        width: 20px;
        height: 20px;
        padding: 5px;
        margin: 3px 0 0 0;
        border-radius: 100px;
        position: absolute;
        content: '';
        display: block;
        top: 50%;
        right: 0;
        z-index: 1;
        transform: translateY(-50%);
        transition: all 0.15s ease-out;
      }
      &::before {
        padding: 3px;
        border: solid var(--color-neutral-text);
        border-width: 0 2px 2px 0;
        position: absolute;
        content: '';
        top: 13px;
        right: 11px;
        transform: rotate(45deg);
        display: inline-block;
        z-index: 2;
      }
      &:hover {
        &::after {
          background: var(--color-neutral-hover);
        }
      }
    }
    &__range {
      &-item {
        width: 70px;
        font: 14px/14px var(--font);
        color: var(--color-dark-gray);
        text-align: center;
        padding: 6px 0 4px 0;
        margin: 0 0 15px 0;
        display: inline-block;
      }
      &-separator {
        width: 14px;
        height: 2px;
        background: var(--color-dark-gray);
        margin: 0 5px;
        position: relative;
        display: inline-block;
        top: 9px;
      }
    }
    &__list {
      margin: 0 0 20px 0;
      &-item {
        margin: 0 0 10px 0;
        &_state_checked {
          & .catalog-filter-group__list-item-label {
            &::before {
              display: block;
            }
            &::after {
              border: solid 1px var(--color-surface-item);
            }
          }
        }
        &_state_disabled {
          & .catalog-filter-group__list-item-label {
            &::after {
              border: solid 1px var(--color-surface-text);
            }
          }
          & .catalog-filter-group__list-item-text {
            color: var(--color-surface-text);
            &:hover {
              color: var(--color-surface-text);
            }
          }
        }
        &-label {
          width: 100%;
          position: relative;
          display: block;
          &::before {
            position: absolute;
            display: none;
            left: 5px;
            top: 5px;
            z-index: 2;
            padding: 3px 3px 3px 8px;
            border: solid var(--color-surface-item);
            border-width: 0 0 3px 3px;
            position: absolute;
            content: '';
            transform: rotate(-45deg);
          }
          &::after {
            width: 13px;
            height: 13px;
            font-size: 0;
            background: var(--color-surface);
            border: solid 1px var(--color-surface-border);
            position: absolute;
            content: '';
            display: block;
            left: 0;
            top: 5px;
          }
          &:hover {
            cursor: pointer;
            &::after {
              border: solid 1px var(--color-surface-border);
            }
            & .catalog-filter-group__list-item-text {
              color: var(--color-surface-border);
            }
          }
        }
        &-checkbox {
          position: absolute;
          visibility: hidden;
          left: 0;
          top: 0;
          opacity: 0;
        }
        &-text {
          color: var(--color-neutral-text);
          padding: 1px 0 0 0;
          margin: 0 0 0 25px;
          display: block;
          @mixin font normal, 16px, 16px, 22px, 22px, var(--font);
        }
      }
    }
  }
}

@keyframes catalogFilterAnimationShow {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes catalogFilterAnimationHide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
