.catalog-menu {
  &&_type_footer {
    background: none;
    @media (--mobile) {
      margin: 0 0 16px 0;
    }
    & .catalog-menu {
      &__wrapper {
        margin: 0 0 12px 0;
        display: block;
      }
      &__item {
        &-link {
          color: var(--color-surface-text);
          text-align: left;
          padding: 0;
          margin: 0 0 12px 0;
          @mixin font normal, 14px, 16px, 18px, 24px, var(--font);
          &:hover {
            background: none;
          }
        }
      }
    }
  }
}
