.catalog-sort-dropdown {
  width: 310px;
  position: relative;
  box-sizing: border-box;
  z-index: 2;
  @media (--mobile) {
    margin: 0 8px;
  }
  &::after {
    padding: 3px;
    border: solid var(--color-surface-item);
    border-width: 0 2px 2px 0;
    position: absolute;
    content: '';
    display: inline-block;
    top: calc(50% - 6px);
    right: 24px;
    transform: rotate(45deg);
    @media (--mobile) {
    }
  }
  &_state_open {
    &::after {
      top: 18px;
      transform: rotate(-135deg);
    }
    ^&__list {
      display: block;
    }
  }
  &__current {
    color: var(--color-surface-text);
    background: var(--color-surface-active);
    padding: 16px 48px 16px 20px;
    border: solid 1px var(--color-neutral-border);
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    @mixin font normal, 14px, 20px, 14px, 20px, var(--font);
    @media (--mobile) {
      padding: 12px 48px 12px 20px;
    }
    &::before {
      min-width: 24px;
      min-height: 24px;
      margin: 0 12px 0 0;
      content: '—';
      display: block;
    }
    &.catalog-sort-dropdown__item {
      &_sort_asc {
        &::before {
          min-width: 24px;
          min-height: 24px;
          background: url('./../../img/icon/asc.svg') no-repeat 0 50%;
          background-size: 50%;
          content: ' ';
          display: block;
        }
      }
      &_sort_desc {
        &::before {
          min-width: 24px;
          min-height: 24px;
          background: url('./../../img/icon/desc.svg') no-repeat 0 50%;
          background-size: 50%;
          content: ' ';
          display: block;
        }
      }
    }
  }
  &__list {
    width: 100%;
    background: var(--color-surface);
    margin: 8px 0 0 0;
    border: solid 1px var(--color-neutral-border);
    border-bottom: 0;
    position: absolute;
    display: none;
    box-shadow: 0 5px 10px -5px var(--color-neutral-shadow);
    left: 0;
    top: 100%;
    z-index: 1;
    ^&__item {
      color: var(--color-neutral-text);
      text-decoration: none;
      white-space: nowrap;
      padding: 12px 48px 12px 20px;
      border-bottom: solid 1px var(--color-neutral-border);
      display: flex;
      align-items: center;
      @mixin font normal, 18px, 20px, 18px, 20px, var(--font);
      &:hover {
        background: var(--color-surface-hover);
      }
      &_sort_default {
        &::before {
          min-width: 32px;
          min-height: 32px;
          background: url('./../../img/icon/default.svg') no-repeat 0 50%;
          background-size: 50%;
          content: '';
          display: block;
        }
      }
      &_sort_asc {
        &::before {
          min-width: 32px;
          min-height: 32px;
          background: url('./../../img/icon/asc.svg') no-repeat 0 50%;
          background-size: 50%;
          content: ' ';
          display: block;
        }
      }
      &_sort_desc {
        &::before {
          min-width: 32px;
          min-height: 32px;
          background: url('./../../img/icon/desc.svg') no-repeat 0 50%;
          background-size: 50%;
          content: '';
          display: block;
        }
      }
    }
  }
}
