.catalog-item-detail {
  width: 100%;
  margin: 0 30px 70px 0;
  box-sizing: border-box;
  @media (--mobile), (--tablet) {
    margin: 0;
  }
  &__wrapper {
    padding: 0 0 48px 0;
    display: flex;
    @media (--mobile) {
      padding: 0;
      display: block;
    }
  }
  &__left {
    width: 400px;
    @media (--mobile) {
      width: auto;
    }
    ^&__gallery {
      width: 100%;
      position: relative;
      box-sizing: border-box;
    }
  }
  &__right {
    margin: 0 0 0 56px;
    position: relative;
    flex: 1;
    box-sizing: border-box;
    @media (--mobile) {
      margin: 0;
      flex: none;
    }
  }
  &__info {
    width: 100%;
    margin: 16px 0 0 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    @media (--mobile) {
      margin: 0;
      display: block;
    }
  }
  &__price {
    margin: 0 24px;
    @mixin font bold, 24px, 32px, 24px, 32px, var(--font-title-secondary);
    @media (--mobile) {
      width: 100%;
      color: var(--color-primary-text);
      text-align: center;
      background: var(--color-primary);
      padding: 12px 0;
      margin: 0;
    }
  }
  &__button {
    width: 100%;
    &.button {
      max-width: 180px;
      background: none;
      margin: 24px 0 0 0;
      @media (--mobile) {
        max-width: none;
        margin: 0;
        border-radius: 0;
      }
      &::after {
        display: none;
      }
    }
  }
  &__count {
    width: 120px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: flex-start;
    box-sizing: border-box;
    @media (--mobile) {
      width: 100%;
      background: var(--color-neutral-item);
      padding: 24px 0;
      margin: 0;
      justify-content: center;
    }
    &-button {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      position: relative;
      display: block;
      flex: 0 0 auto;
      cursor: pointer;
      @media (--mobile) {
        width: 32px;
        height: 32px;
      }
      &_state_added {
        animation-duration: 0.5s;
        animation-fill-mode: both;
        animation-name: catalogItemAdded;
      }
      &_action {
        &_minus {
          background: var(--color-primary);
          margin: 0 10px 0 0;
          &::before {
            width: 50%;
            height: 2px;
            background: var(--color-primary-text);
            position: absolute;
            content: '';
            display: block;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
          }
          &:hover {
            background: var(--color-primary-hover);
          }
        }
        &_plus {
          background: var(--color-primary);
          margin: 0 0 0 10px;
          &::before {
            width: 50%;
            height: 2px;
            background: var(--color-primary-text);
            position: absolute;
            content: '';
            display: block;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
          }
          &::after {
            width: 50%;
            height: 2px;
            background: var(--color-primary-text);
            position: absolute;
            content: '';
            display: block;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) rotate(90deg);
          }
          &:hover {
            background: var(--color-primary-hover);
          }
        }
      }
    }
    &-value {
      font: 500 24px/22px var(--font);
      color: #000;
      text-align: right;
      padding: 5px 0 0 0;
      position: relative;
      @media print {
        padding: 0 50px 0 0;
      }
      &::after {
        font: 300 24px/22px var(--font);
        color: #757575;
        position: absolute;
        content: 'x';
        top: 3px;
        right: -30px;
        @media print {
          top: -2px;
          right: 15px;
        }
      }
    }
    &-input {
      width: 50%;
      min-width: 52px;
      color: #000;
      text-align: center;
      padding: 8px 0 6px 0;
      margin: 0;
      border: solid 1px #979797;
      display: inline-block;
      @mixin font normal, 24px, 32px, 24px, 32px, var(--font-title-secondary);
      @media (--mobile) {
        width: 80px;
      }
      &:focus {
        outline: 0;
      }
    }
  }
  &__param {
    display: flex;
    flex-flow: row wrap;
    &-group {
      background: var(--color-neutral);
      padding: 16px 32px 8px 16px;
      margin: 0 24px 24px 0;
      box-sizing: border-box;
      @media (--mobile) {
        width: 100%;
        background: none;
        padding: 0 0 16px 0;
        margin: 0;
      }
      ^&-title {
        padding: 0 0 8px 0;
        @mixin font 500, 16px, 16px, 18px, 24px, var(--font-title-secondary);
        @media (--mobile) {
          background: var(--color-neutral);
          padding: 16px 16px;
        }
      }
      ^&-wrapper {
        @media (--mobile) {
          padding: 0 0 0 16px;
        }
        &_type_column {
          columns: 2 180px;
        }
      }
      ^&-item {
        min-width: 180px;
        margin: 0 12px 12px 0;
        position: relative;
        display: flex;
        cursor: pointer;
        @media (--mobile) {
          padding: 8px 16px;
        }
        &:hover {
          & .catalog-item-detail__param-item-text {
            &::before {
              background: #ccc;
              display: block;
            }
          }
        }
        &-input {
          position: absolute;
          visibility: hidden;
          left: 0;
          top: 0;
          z-index: 2;
          &:checked {
            & + .catalog-item-detail__param-item-text {
              &::before {
                display: block;
              }
            }
          }
        }
        &-text {
          color: var(--color-surface-text);
          padding: 0 0 0 24px;
          @mixin font normal, 16px, 16px, 18px, 24px, var(--font-title-secondary);
          @media (--mobile) {
            padding: 0 0 0 16px;
          }
          &::before {
            width: 8px;
            height: 8px;
            background: #000;
            border-radius: 100px;
            position: absolute;
            content: '';
            display: none;
            left: 4px;
            top: 50%;
            z-index: 2;
            transform: translate(0, -50%);
          }
          &::after {
            width: 16px;
            height: 16px;
            background: var(--color-surface);
            border: solid 1px var(--color-surface-border);
            border-radius: 50px;
            position: absolute;
            content: '';
            display: block;
            box-sizing: border-box;
            left: 0;
            top: 50%;
            z-index: 1;
            transform: translate(0, -50%);
          }
        }
        &__state_disabled {
          border: solid 1px gray;
          background-color: gray;
        }
      }
    }
  }
  &__tabs {
    width: 100%;
    &-list {
      width: 100%;
      background: var(--color-neutral);
      display: flex;
      @media (--mobile) {
        display: block;
      }
      &-item {
        min-width: 25%;
        background: var(--color-neutral);
        padding: 16px;
        box-sizing: border-box;
        cursor: pointer;
        @mixin font 500, 16px, 18px, 24px, 24px, var(--font-title-secondary);
        &:hover {
          background: var(--color-neutral-hover);
        }
        &_state_active {
          background: var(--color-neutral-hover);
        }
      }
    }
    &-content {
      padding: 16px 0 0 16px;
      position: relative;
      overflow: hidden;
      display: none;
      box-sizing: border-box;
      @media (--mobile) {
        padding: 24px 16px 0 16px;
      }
      &_state_active {
        display: block;
      }
    }
  }
}
