.button {
  &&_type_primary {
    background: var(--color-primary);
    color: var(--color-primary-text);
    &:hover {
      background: var(--color-primary-hover);
    }
    & .button {
      &__text {
        color: var(--color-primary-text);
      }
    }
  }
}
