.search {
  &&_type_quick {
    &&_state_hidden {
      animation-name: quickSearchFadeOut;
      & .search {
        &-input {
          &__input {
            animation-name: quickSearchInputFadeOut;
          }
        }
      }
    }
  }
}

@keyframes quickSearchFadeOut {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

@keyframes quickSearchInputFadeOut {
  from {
  }
  to {
  }
}
