.search {
  &&_type_quick {
    &&_state_hidden {
      animation-duration: 0.5s;
      animation-fill-mode: both;
      animation-name: quickSearchFadeOut !important;
      & .search {
        &-input {
          &__input {
            animation-duration: 0.5s;
            animation-fill-mode: both;
            animation-name: quickSearchInputFadeOut !important;
          }
        }
      }
    }
  }
}

@keyframes quickSearchFadeOut {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

@keyframes quickSearchInputFadeOut {
  from {
  }
  to {
  }
}
