.header {
  width: 100%;
  @media (--warning) {
    padding: 0 0 20px 0;
  }
  &__wrapper {
    width: 100%;
    border-bottom: solid 1px transparent;
    position: relative;
    box-sizing: border-box;
    z-index: 1000;
    transition: all 0.2s cubic-bezier(0.21, 1.03, 0.7, 1);
    &_state_show,
    &_state_hide {
      background: var(--color-surface);
      position: fixed;
      left: 0;
      top: 0;
      right: 0;
    }
    &_state_show {
      border-bottom: solid 1px var(--color-neutral);
    }
    ^&__inner {
      width: 100%;
      max-width: var(--max);
      padding: 32px 32px 24px 32px;
      margin: 0 auto;
      display: flex;
      flex-flow: row wrap;
      box-sizing: border-box;
      @media (--mobile) {
        padding: 6px 0 0 0;
      }
    }
    ^&__hamburger {
      width: 32px;
      height: 32px;
      display: none;
      border: solid 1px red;
      order: -5;
      @media (--mobile) {
        display: block;
        margin: 0 16px;
      }
    }
    ^&__search {
      width: 32px;
      height: 32px;
      display: none;
      border: solid 1px red;
        order: -4;
      @media (--mobile) {
        display: block;
      }
    }
    ^&__logo {
      position: relative;
      margin: 0 32px 0 0;
      align-self: center;
      @media (--mobile) {
        order: -3;
        margin: 0;
        flex-grow: 1;
      }
    }
    ^&__menu {
      position: relative;
      @media (--mobile) {
        width: 100%;
        display: flex;
        margin: 6px 0 0 0;
      }
    }
    ^&__catalog {
      color: var(--color-primary-text);
      @mixin font normal, 16px, 20px, 16px, 20px, var(--font);
      background: var(--color-primary);
      padding: 12px 20px;
      display: none;
      @media (--mobile) {
        display: block;
      }
    }
    ^&__phone {
      margin: 12px 0 0 0;
      display: flex;
      @media (--mobile) {
        flex-grow: 1;
        justify-content: space-between;
        padding: 0 16px;
      }
      & p {
        color: var(--color-neutral-text);
        @mixin font normal, 16px, 20px, 16px, 20px, var(--font);
        padding: 0 24px 0 0;
        margin: 0;
        @media (--mobile) {
          padding: 0;
        }
        & a {
          color: var(--color-neutral-text);
          text-decoration: none;
        }
      }
    }
    ^&__button {
      position: relative;
      order: 1;
      @media (--mobile) {
        width: 32px;
        height: 32px;
        overflow: hidden;
        position: relative;
        border: solid 1px red;
        order: -1;
        margin: 0 16px 0 0;
      }
    }
    ^&__cart {
      position: relative;
      order: 2;
      @media (--mobile) {
        margin: 0 16px 0 16px;
        width: 32px;
        height: 32px;
        overflow: hidden;
        position: relative;
        border: solid 1px red;
        order: -2;
      }
    }
  }
}
