.header {
  width: 100%;
  position: relative;
  @media (--warning) {
    padding: 0 0 20px 0;
  }
  &__wrapper {
    width: 100%;
    background: var(--color-surface);
    position: relative;
    box-sizing: border-box;
    z-index: 1000;
    &_state_show,
    &_state_hide {
      position: fixed;
      box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
      left: 0;
      top: 0;
      right: 0;
      @media (--mobile) {
        box-shadow: none;
        border-bottom: solid 1px var(--color-neutral-border);
      }
    }
    ^&__inner {
      width: 100%;
      max-width: var(--max);
      padding: 32px 32px 24px 32px;
      margin: 0 auto;
      display: flex;
      flex-flow: row wrap;
      box-sizing: border-box;
      @media (--mobile) {
        padding: 2px 0 0 0;
      }
      @media (--tablet) {
        padding: 16px 24px;
      }
    }
    ^&__hamburger {
      width: 40px;
      height: 40px;
      display: none;
      order: -6;
      @media (--mobile) {
        margin: 0 12px 0 8px;
        display: block;
      }
      @media (--tablet) {
        position: absolute;
        display: block;
        top: 16px;
        right: 24px;
      }
    }
    ^&__search {
      width: 40px;
      height: 40px;
      position: relative;
      display: none;
      order: -5;
      @media (--mobile) {
        background: url('./../img/icon/search_black.svg') no-repeat 50% 50%;
        display: block;
        top: -1px;
      }
    }
    ^&__contact {
      width: 40px;
      height: 40px;
      background: url('./../img/icon/call.svg') no-repeat 50% 50%;
      margin: 0 0 0 12px;
      position: relative;
      display: none;
      order: -4;
      top: -2px;
      @media (--mobile) {
        display: block;
      }
      &-button {
        width: 100%;
        height: 100%;
        display: block;
      }
    }
    ^&__logo {
      margin: 0 32px 0 0;
      position: relative;
      align-self: center;
      @media (--mobile) {
        margin: -2px 0 0 0;
        order: -3;
        flex-grow: 1;
      }
      @media (--tablet) {
        margin: 0 24px 0 0;
      }
    }
    ^&__menu {
      position: relative;
      @media (--mobile) {
        width: 100%;
        display: flex;
      }
    }
    ^&__phone {
      margin: 12px 0 0 0;
      display: inline-flex;
      box-sizing: border-box;
      @media (--mobile) {
        width: 100%;
        margin: 8px 0 0 0;
        background: var(--color-neutral);
        padding: 8px 24px;
        display: flex;
        justify-content: space-between;
      }
      @media (--tablet) {
        margin: 14px 0 0 0;
      }
      & p {
        color: var(--color-neutral-text);
        padding: 0 16px 0 0;
        margin: 0;
        @mixin font normal, 15px, 16px, 15px, 16px, var(--font-title);
        @media (--mobile) {
          color: var(--color-primary-text);
          padding: 0;
        }
        & a {
          color: var(--color-neutral-text);
          text-decoration: none;
        }
      }
    }
    ^&__callback {
      display: inline-block;
      @media (--mobile) {
        display: none;
      }
    }
    ^&__button {
      position: relative;
      order: 1;
      @media (--mobile) {
        width: 40px;
        height: 40px;
        margin: 0 16px 0 0;
        position: relative;
        overflow: hidden;
        order: -2;
      }
      & .button {
        @media (--mobile) {
          width: 40px;
          height: 40px;
          padding: 0;
        }
        &::after {
          width: 30px;
          height: 30px;
          background: url('./../img/icon/calculator.svg') no-repeat 50% 50%;
          background-size: contain;
          position: absolute;
          content: '';
          display: none;
          left: 50%;
          top: 50%;
          z-index: 2;
          transform: translate(-50%, -50%);
          @media (--mobile) {
            display: block;
          }
        }
        &__text {
          @media (--mobile) {
            display: none;
          }
        }
      }
    }
    ^&__cart {
      position: relative;
      order: 2;
      @media (--mobile) {
        width: 40px;
        height: 40px;
        margin: 0 12px 0 0;
        position: relative;
        order: -2;
      }
      @media (--tablet) {
        position: absolute;
        display: block;
        top: 16px;
        right: 48px;
      }
    }
  }
}
