div.form-message {
  &.form-message_type_on-page {
    width: 100%;
    font: 24px var(--font-condensed);
    text-transform: uppercase;
    letter-spacing: 0.3em;
    background: #a5d53c;
    padding: 0.4em 0.7em 0.2em 0.7em;
    border: none;
    border-radius: 0;
    display: block;
  }
}
