/* stylelint-disable custom-property-empty-line-before */

.feed.feed_type_main-page {
    margin: 24px 0 0 0;
  }

.feed.feed_type_main-page .feed-title {
        color: #000;
        font-size: calc(1.125rem + 1.5 * ((100vw - 20rem) / 140));
        font-weight: 500;
        font-family: 'Fact-Semi-Expanded'
,
sans-serif;
        line-height: calc(1.5rem + 1.5 * ((100vw - 20rem) / 140));
      }

@media screen and (min-width: 2560px) {

    .feed.feed_type_main-page .feed-title {
        line-height: 3rem;
    }
}

@media screen and (max-width: 320px) {

    .feed.feed_type_main-page .feed-title {
        line-height: 1.5rem;
    }
}

@media screen and (min-width: 2560px) {

    .feed.feed_type_main-page .feed-title {
        font-size: 2.625rem;
    }
}

@media screen and (max-width: 320px) {

    .feed.feed_type_main-page .feed-title {
        font-size: 1.125rem;
    }
}

@media (min-width: 15em)
  and (max-width: 47.999em) {

.feed.feed_type_main-page .feed-title {
          padding: 0 20px
      }
        }

.feed.feed_type_main-page .feed-title-link {
          color: #000;
        }

.feed.feed_type_main-page .feed-list {
        display: flex;
        justify-content: space-between;
      }

@media (min-width: 15em)
  and (max-width: 47.999em) {

.feed.feed_type_main-page .feed-list {
          position: relative;
          overflow: scroll
      }
        }

.feed.feed_type_main-page .feed-list .feed-list__item {
          min-height: 144px;
          background: #f9f9fa;
          padding: 0 32px 0 156px;
          margin: 0;
          position: relative;
          display: flex;
          flex: 0 0 32%;
          flex-flow: row wrap;
          align-items: flex-start;
          box-sizing: border-box;
        }

.feed.feed_type_main-page .feed-list .feed-list__item-image {
            padding: 16px 16px 16px 24px;
            margin: 0;
            position: absolute;
            left: 0;
            top: 0;
          }

.feed.feed_type_main-page .feed-list .feed-list__item-title {
            color: #000;
            text-transform: uppercase;
            padding: 24px 0 0 0;
            order: -1;
            font-size: calc(0.875rem + 0.125 * ((100vw - 20rem) / 140));
            font-weight: bold;
            font-family: 'Fact'
,
sans-serif;
            line-height: calc(1.125rem + 0.25 * ((100vw - 20rem) / 140));
          }

@media screen and (min-width: 2560px) {

    .feed.feed_type_main-page .feed-list .feed-list__item-title {
        line-height: 1.375rem;
    }
}

@media screen and (max-width: 320px) {

    .feed.feed_type_main-page .feed-list .feed-list__item-title {
        line-height: 1.125rem;
    }
}

@media screen and (min-width: 2560px) {

    .feed.feed_type_main-page .feed-list .feed-list__item-title {
        font-size: 1rem;
    }
}

@media screen and (max-width: 320px) {

    .feed.feed_type_main-page .feed-list .feed-list__item-title {
        font-size: 0.875rem;
    }
}

.feed.feed_type_main-page .feed-list .feed-list__item-title-link {
              color: #000;
              text-decoration: none;
              font-size: calc(0.875rem + 0.125 * ((100vw - 20rem) / 140));
              font-weight: bold;
              font-family: 'Fact'
,
sans-serif;
              line-height: calc(1.125rem + 0.25 * ((100vw - 20rem) / 140));
            }

@media screen and (min-width: 2560px) {

    .feed.feed_type_main-page .feed-list .feed-list__item-title-link {
        line-height: 1.375rem;
    }
}

@media screen and (max-width: 320px) {

    .feed.feed_type_main-page .feed-list .feed-list__item-title-link {
        line-height: 1.125rem;
    }
}

@media screen and (min-width: 2560px) {

    .feed.feed_type_main-page .feed-list .feed-list__item-title-link {
        font-size: 1rem;
    }
}

@media screen and (max-width: 320px) {

    .feed.feed_type_main-page .feed-list .feed-list__item-title-link {
        font-size: 0.875rem;
    }
}

.feed.feed_type_main-page .feed-list .feed-list__item-desc {
            color: #000;
            order: 1;
            font-size: calc(0.875rem + 0.125 * ((100vw - 20rem) / 140));
            font-weight: normal;
            font-family: 'Fact'
,
sans-serif;
            line-height: calc(1.125rem + 0.25 * ((100vw - 20rem) / 140));
          }

@media screen and (min-width: 2560px) {

    .feed.feed_type_main-page .feed-list .feed-list__item-desc {
        line-height: 1.375rem;
    }
}

@media screen and (max-width: 320px) {

    .feed.feed_type_main-page .feed-list .feed-list__item-desc {
        line-height: 1.125rem;
    }
}

@media screen and (min-width: 2560px) {

    .feed.feed_type_main-page .feed-list .feed-list__item-desc {
        font-size: 1rem;
    }
}

@media screen and (max-width: 320px) {

    .feed.feed_type_main-page .feed-list .feed-list__item-desc {
        font-size: 0.875rem;
    }
}

.feed.feed_type_main-page .feed-list .feed-list__item-date {
            order: 2;
          }

/* stylelint-disable custom-property-empty-line-before */

.feed-detail__date {
    color: #000;
    padding: 0 0 20px 0;
    margin: 0;
    font-size: calc(0.875rem + 0.125 * ((100vw - 20rem) / 140));
    font-weight: 500;
    font-family: 'Fact'
,
sans-serif;
    line-height: calc(1.125rem + 0.25 * ((100vw - 20rem) / 140));
  }

@media screen and (min-width: 2560px) {

    .feed-detail__date {
        line-height: 1.375rem;
    }
}

@media screen and (max-width: 320px) {

    .feed-detail__date {
        line-height: 1.125rem;
    }
}

@media screen and (min-width: 2560px) {

    .feed-detail__date {
        font-size: 1rem;
    }
}

@media screen and (max-width: 320px) {

    .feed-detail__date {
        font-size: 0.875rem;
    }
}

/* stylelint-disable custom-property-empty-line-before */

.feed-list__item-title {
  color: #000;
  text-transform: uppercase;
  padding: 24px 0 0 0;
  order: -1;
  font-size: calc(0.875rem + 0.125 * ((100vw - 20rem) / 140));
  font-weight: bold;
  font-family: 'Fact'
,
sans-serif;
  line-height: calc(1.125rem + 0.25 * ((100vw - 20rem) / 140));
}

@media screen and (min-width: 2560px) {

  .feed-list__item-title {
    line-height: 1.375rem;
  }
}

@media screen and (max-width: 320px) {

  .feed-list__item-title {
    line-height: 1.125rem;
  }
}

@media screen and (min-width: 2560px) {

  .feed-list__item-title {
    font-size: 1rem;
  }
}

@media screen and (max-width: 320px) {

  .feed-list__item-title {
    font-size: 0.875rem;
  }
}

.feed-list__item-title-link {
    color: #000;
    text-decoration: none;
    font-size: calc(0.875rem + 0.125 * ((100vw - 20rem) / 140));
    font-weight: bold;
    font-family: 'Fact'
,
sans-serif;
    line-height: calc(1.125rem + 0.25 * ((100vw - 20rem) / 140));
  }

@media screen and (min-width: 2560px) {

  .feed-list__item-title-link {
    line-height: 1.375rem;
  }
}

@media screen and (max-width: 320px) {

  .feed-list__item-title-link {
    line-height: 1.125rem;
  }
}

@media screen and (min-width: 2560px) {

  .feed-list__item-title-link {
    font-size: 1rem;
  }
}

@media screen and (max-width: 320px) {

  .feed-list__item-title-link {
    font-size: 0.875rem;
  }
}

/* stylelint-disable custom-property-empty-line-before */

.feed-list__item {
  min-height: 144px;
  background: #f9f9fa;
  padding: 0 32px 24px 156px;
  margin: 0 0 32px 0;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  box-sizing: border-box;
}

.feed-list__item-image {
    padding: 16px 16px 16px 24px;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
  }

.feed-list__item-title {
    color: #000;
    text-transform: uppercase;
    padding: 24px 0 0 0;
    order: -1;
    font-size: calc(0.875rem + 0.125 * ((100vw - 20rem) / 140));
    font-weight: bold;
    font-family: 'Fact'
,
sans-serif;
    line-height: calc(1.125rem + 0.25 * ((100vw - 20rem) / 140));
  }

@media screen and (min-width: 2560px) {

  .feed-list__item-title {
    line-height: 1.375rem;
  }
}

@media screen and (max-width: 320px) {

  .feed-list__item-title {
    line-height: 1.125rem;
  }
}

@media screen and (min-width: 2560px) {

  .feed-list__item-title {
    font-size: 1rem;
  }
}

@media screen and (max-width: 320px) {

  .feed-list__item-title {
    font-size: 0.875rem;
  }
}

.feed-list__item-title-link {
      color: #000;
      text-decoration: none;
      font-size: calc(0.875rem + 0.125 * ((100vw - 20rem) / 140));
      font-weight: bold;
      font-family: 'Fact'
,
sans-serif;
      line-height: calc(1.125rem + 0.25 * ((100vw - 20rem) / 140));
    }

@media screen and (min-width: 2560px) {

  .feed-list__item-title-link {
    line-height: 1.375rem;
  }
}

@media screen and (max-width: 320px) {

  .feed-list__item-title-link {
    line-height: 1.125rem;
  }
}

@media screen and (min-width: 2560px) {

  .feed-list__item-title-link {
    font-size: 1rem;
  }
}

@media screen and (max-width: 320px) {

  .feed-list__item-title-link {
    font-size: 0.875rem;
  }
}

.feed-list__item-desc {
    color: #000;
    order: 1;
    font-size: calc(0.875rem + 0.125 * ((100vw - 20rem) / 140));
    font-weight: normal;
    font-family: 'Fact'
,
sans-serif;
    line-height: calc(1.125rem + 0.25 * ((100vw - 20rem) / 140));
  }

@media screen and (min-width: 2560px) {

  .feed-list__item-desc {
    line-height: 1.375rem;
  }
}

@media screen and (max-width: 320px) {

  .feed-list__item-desc {
    line-height: 1.125rem;
  }
}

@media screen and (min-width: 2560px) {

  .feed-list__item-desc {
    font-size: 1rem;
  }
}

@media screen and (max-width: 320px) {

  .feed-list__item-desc {
    font-size: 0.875rem;
  }
}

.feed-list__item-date {
    color: #000;
    order: 2;
    font-size: calc(0.875rem + 0.125 * ((100vw - 20rem) / 140));
    font-weight: normal;
    font-family: 'Fact'
,
sans-serif;
    line-height: calc(1.125rem + 0.25 * ((100vw - 20rem) / 140));
  }

@media screen and (min-width: 2560px) {

  .feed-list__item-date {
    line-height: 1.375rem;
  }
}

@media screen and (max-width: 320px) {

  .feed-list__item-date {
    line-height: 1.125rem;
  }
}

@media screen and (min-width: 2560px) {

  .feed-list__item-date {
    font-size: 1rem;
  }
}

@media screen and (max-width: 320px) {

  .feed-list__item-date {
    font-size: 0.875rem;
  }
}

/* stylelint-disable custom-property-empty-line-before */

.feed-list {
  padding: 0;
  margin: 0;
  position: relative;
  list-style: none;
}

/* stylelint-disable custom-property-empty-line-before */

.feed {
  width: 100%;
  background: #fff;
  padding: 0 0 48px 0;
}

/* stylelint-disable custom-property-empty-line-before */

.feed-button {
  text-align: center;
  padding: 1.5em 0;

}

.feed-button__item {
    display: inline-block;
    position: relative;
    text-decoration: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    padding: 0.4em 1em 0.4em 1em;
    text-align: center;
    font: 1.1em 'Arial' , Helvetica , sans-serif;
    border: 1px solid #d0d0d0;
    -webkit-border-radius: 0.35em;
    -moz-border-radius: 0.35em;
    border-radius: 0.35em;
    color: #444;

    background: #f5f5f5;
    background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#dfdfdf));
    background: -webkit-linear-gradient(top, #f5f5f5 0%, #dfdfdf 100%);
    background: -moz-linear-gradient(top, #f5f5f5 0%, #dfdfdf 100%);
    background: -o-linear-gradient(top, #f5f5f5 0%, #dfdfdf 100%);
    background: linear-gradient(to bottom, #f5f5f5 0%, #dfdfdf 100%);
    -webkit-filter: progid:dximagetransform.microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#dfdfdf', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#dfdfdf', GradientType=0);
  }

.feed-button__item:focus {
      outline: none;
    }

.feed-button__item:hover {
      border: 1px solid #455f6b;
      background: #d5542f;
      color: #fff;
    }

/* stylelint-disable custom-property-empty-line-before */

.feed-link {
  position: relative;
  margin: 0.5em 0 0 0;
}

.feed-link__text {
    color: #fff;
    font: 0.75em 'Arial' , Helvetica , sans-serif;
    background: #171717;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.5em 1em;
  }

.feed-link__text:hover {
      background: #171717;
    }

/* stylelint-disable custom-property-empty-line-before */

.feed-list__button {
  text-align: center;
}

.feed-list__button .feed-list__button-text {
    font: bold 0.95em 'Arial' , Helvetica , sans-serif;
    color: #000;
    text-transform: uppercase;
    padding: 0.8em 1.2em 0.65em 1.2em;
    border: solid 1px #73b248;
    display: inline-block;
    text-decoration: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }

.feed-list__button:hover .feed-list__button-text {
    text-decoration: none;
    color: #fff;
    background: #73b248;
  }

/* stylelint-disable custom-property-empty-line-before */

.feed-menu {
  border: solid 1px #ccc;
  padding: 1.2em 1.5em 0.4em 1.5em;
  background: #fff;
  position: relative;
  margin: 0 0 2em 0;
}

.feed-menu-list {
    width: 50%;
    float: left;
    padding: 0;
    list-style: none;
    margin: 0 0 1em 0;
  }

.feed-menu-list__item {
      text-decoration: none;
      display: block;
    }

.feed-menu-list__item_state_current {

      }

.feed-menu-list__item-link {
        font: 0.95em 'Arial' , Helvetica , sans-serif;
        color: #008ace;
        display: inline-block;
        position: relative;
        padding: 0 0 0.9em 0;
      }

.feed-menu-list__item-link:hover {
          color: #c00;
        }

.feed-menu-list__item-link:visited {
          color: #551a8b;
        }

.feed-menu-list__item-link:visited:hover {
          color: #c00;
        }

.feed-menu-list__item-link_state_current {
          font-weight: bold;
        }

.feed-menu-list__item-link_type_year {
          font: bold 1.2em 'Arial' , Helvetica , sans-serif;
          padding: 0 0 0.4em 0;
        }

/* stylelint-disable custom-property-empty-line-before */

.feed-title {
  padding: 0 0 0.5em 0;
  color: #535353;
  font: 1.4em 'Arial' , Helvetica , sans-serif;
}

.feed-title__link {
    color: #000;
  }

.feed-title__link:hover {
      color: #c00;
    }

/* stylelint-disable custom-property-empty-line-before */

/* stylelint-disable custom-property-empty-line-before */


/* stylelint-disable custom-property-empty-line-before */

/*# sourceMappingURL=__feed.css.map */
