
.form_type_page.form {
  width: 100%;
  max-width: 1366px;
  padding: 0 34px 56px 34px;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
  @media (--mobile) {
    padding: 0 16px;
  }
  @media (--tablet) {
    padding: 0 32px 56px 32px;
  }
  & .form {
    &-inner {
      max-width: 740px;
      padding: 0;
      margin: 0;
      & .form-field__item {
        &-c1 {
          padding: 8px 0 32px 0;
          @media (--mobile) {
            padding: 8px 0 12px 0;
          }
        }
        &-c2 {
          padding: 0 0 32px 0;
          @media (--mobile) {
            padding: 0;
          }
        }
        & .form-button {
          padding: 24px 18px;
        }
      }
    }
  }
}
