{% extends 'base.html' %}

{% load fb_versions l10n static catalog_tags %}

{% block title %}
    {{ product.seo_title|default:product.name }}
    {% for crumb in catalog_breadcrumbs %} | {{ crumb.name }} {% endfor %}
{% endblock title %}

{% block meta %}
    <meta name="description" content="{{ product.seo_description|default:'' }}" />
    <meta name="keywords" content="{{ product.seo_keywords|default:'' }}" />
    {% if product.seo_other %}
        {{ product.seo_other|safe }}
    {% endif %}
{% endblock %}


{% block content %}
    <div class="wrapper">
        <div class="wrapper__inner">
            <div class="nav">
                <div class="nav__item">
                    <a href="{% url 'catalog-index' %}" class="nav__item-link">Каталог</a>
                </div>
                {% for crumb in catalog_breadcrumbs %}
                    <div class="nav__item">
                        <a href="{{ crumb.get_absolute_url }}"
                           class="nav__item-link">{{ crumb.name }}</a>
                    </div>
                {% endfor %}
                <div class="nav__item nav__item_state_current">
                    <div class="nav__item-text">
                        {{ product.name }} <span data-product-article></span>
                    </div>
                </div>
            </div>

            <div class="catalog-item-detail">
                <div class="catalog-item-detail__wrapper">
                    <div class="catalog-item-detail__left">
                        <div class="catalog-item-detail__gallery">
                            <div class="catalog-item-gallery">
                                <div class="catalog-item-gallery__wrapper">
                                    {% for product_image, image_description in product.get_all_images %}
                                        <div class="catalog-item-gallery__image">
                                            <img src="{% version product_image 'catalog_detail' %}"
                                                 data-price-pk="{{ product_image.price_pk|unlocalize }}"
                                                 class="catalog-item-gallery__image-image"
                                                 alt="{{ image_description|default:product.name }}" title="{{ image_description|default:product.name }}" />
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="catalog-item-gallery__arrow catalog-item-gallery__arrow_type_prev"></div>
                                <div class="catalog-item-gallery__arrow catalog-item-gallery__arrow_type_next"></div>
                            </div>
                            <div class="catalog-item-gallery-pagination {% if product.get_all_images|length == 1 %} catalog-item-gallery-pagination_state_hidden {% endif %} swiper-pagination"></div>
                        </div>
                    </div>

                    <div class="catalog-item-detail__right">
                        <div class="catalog-item-detail__param">

                            {% for group in params_data.values %}
                                <div class="catalog-item-detail__param-group" data-group-pk="{{ group.pk|unlocalize }}">
                                    <div class="catalog-item-detail__param-title">{{ group.name }}</div>
                                    <div class="catalog-item-detail__param-wrapper{% if group.values|length > 10 %} catalog-item-detail__param-wrapper_type_column{% endif %}">
                                        {% for pk, param in group.values.items %}
                                            <label class="catalog-item-detail__param-item">
                                                <input
                                                    type="radio"
                                                    class="catalog-item-detail__param-item-input"
                                                    id="param-{{ pk }}"
                                                    name="param-{{ group.pk|unlocalize }}"
                                                    value="{{ pk }}"
                                                    autocomplete="off"
                                                    data-prices="{{ param.prices }}"
                                                    {% if pk in params_initial.scope %}checked="checked"{% endif %}
                                                />
                                                <div class="catalog-item-detail__param-item-text">
                                                    {{ param.name }}
                                                </div>
                                            </label>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endfor %}

                            {% with product_id=product.pk|unlocalize %}
                                <div class="catalog-item-detail__info">
                                    <div class="catalog-item-detail__count">
                                        <div class="catalog-item-detail__count-button catalog-item-detail__count-button_action_minus" data-input-name="amount">&nbsp;</div>
                                            <input
                                                class="catalog-item-detail__count-input"
                                                name="amount"
                                                value="1"
                                                min="1"
                                                max="15"
                                                maxlength="3"
                                                type="text"
                                                data-product="{{ product_id }}"
                                            />
                                        <div class="catalog-item-detail__count-button catalog-item-detail__count-button_action_plus" data-input-name="amount">&nbsp;</div>
                                    </div>
                                    <div class="catalog-item-detail__price" data-measuring="{{ product.measuring|default:'' }}">
                                        {{ params_initial.price|floatformat:-2 }} Р{% if product.measuring %}/{{ product.measuring }}{% endif %}
                                    </div>
                                </div>

                                <a href="{% url 'itcase_cart:cart_add' %}?product={{ product_id }}&amount-{{ product_id }}=1"
                                   class="catalog-item-detail__button catalog-item__button button button_type_primary {% if product in cart %} catalog-item-detail__button_state_in-cart {% endif %}"
                                    data-add-url="{% url 'itcase_cart:cart_add' %}"
                                    data-product="{{ product_id }}"
                                    data-amount-{{ product_id }}="1">
                                    <span class="button__text">
                                        {% if product in cart %}
                                            В заказе
                                        {% else %}
                                            Заказать
                                        {% endif %}
                                    </span>
                                </a>
                            {% endwith %}

                        </div>
                    </div>
                </div>

                {% if product.has_sections %}
                    <div class="catalog-item-detail__tabs">
                        <div class="catalog-item-detail__tabs-list">
                            {% for section in product.sections.all %}
                                {% if section.show %}
                                    <div data-product-tab-menu="{{ section.pk|unlocalize }}" class="catalog-item-detail__tabs-list-item{% if forloop.counter == 1 %} catalog-item-detail__tabs-list-item_state_active{% endif %}">
                                        {{ section.section_name }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>

                        {% for section in product.sections.all %}
                            {% if section.show %}
                                <div data-product-tab-content="{{ section.pk|unlocalize }}" class="catalog-item-detail__tabs-content content{% if forloop.counter == 1 %} catalog-item-detail__tabs-content_state_active{% endif %}">
                                    {{ section.section_content|safe }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            {% include './include/catalog_related.html' %}
        </div>
    </div>
{% endblock %}
