{% extends 'base.html' %}
{% load fb_versions i18n static catalog_tags %}

{% block content %}
    <div class="wrapper">
        <div class="wrapper__inner">
            <div class="catalog">
                <div class="catalog__wrapper">
                    {% with title='Все для кровли и фасада — быстро и по выгодным ценам' %}
                        {% get_categories_by_level 0 %}
                    {% endwith %}

                    {% with show_title=True %}
                        {% include 'itcase_catalog/include/catalog_main_page_groups.html' %}
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
