{% extends 'base.html' %}

{% load itcase_common l10n rotator_tags %}

{% block title %}
    {% for crumb in catalog_breadcrumbs %}
        {{ crumb.name }} {% if not forloop.last %} | {% endif %}
    {% endfor %}
{% endblock title %}

{% block content %}
    {% if not view.hide_products %}
        <div class="wrapper">
            <div class="wrapper__inner">
                <div class="nav">
                    {% for crumb in catalog_breadcrumbs %}
                        <div class="nav__item">
                            <a href="{{ crumb.get_absolute_url }}"
                               class="nav__item-link">{{ crumb.name }}</a>
                        </div>
                    {% endfor %}
                    {% if category %}
                        <div class="nav__item nav__item_state_current">
                            <div class="nav__item-text">{{ category }}</div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}

    {% include './include/catalog_group_second_list.html' %}

    {% with additional_class='rotator_type_catalog' %}
        {% category_rotator category %}
    {% endwith %}


    <div class="wrapper">
        <div class="wrapper__inner">
            {% include './include/catalog_group_second.html' %}

            {% if category.content %}
                <div class="content catalog-content">
                    {% render_content category.content %}
                </div>
            {% endif %}

            {% if category.sections.exists %}
                <div class="content catalog-content">
                    {% for section in category.sections.all %}
                        {% if section.show %}
                            {{ section.name }}
                            {% render_content section.content %}
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>

{% endblock content %}
